<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->

<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="data source= SC-201910241212;initial catalog=UrbanUsers;user id=web;password=web" providerName="System.Data.Sqlclient" />
    <add name="UrbanConConnectionString" connectionString="Data Source=SC-201910241212;Initial Catalog=UrbanCon;User ID=web;Password=web;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="UrbanConEntities" connectionString="metadata=res://*/Models.ArchiveDetail.csdl|res://*/Models.ArchiveDetail.ssdl|res://*/Models.ArchiveDetail.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SC-201910241212;initial catalog=UrbanCon;persist security info=True;user id=web;password=web;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="UrbanUsersEntities" connectionString="metadata=res://*/Models.Users.csdl|res://*/Models.Users.ssdl|res://*/Models.Users.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SC-201910241212;initial catalog=UrbanUsers;persist security info=True;user id=web;password=web;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="UrbanConEntities1" connectionString="metadata=res://*/Models.PlanArchive.csdl|res://*/Models.PlanArchive.ssdl|res://*/Models.PlanArchive.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SC-201910241212;initial catalog=UrbanCon;persist security info=True;user id=web;password=web;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PlanArchiveEntities" connectionString="metadata=res://*/Models.PlanArchive.csdl|res://*/Models.PlanArchive.ssdl|res://*/Models.PlanArchive.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SC-201910241212;initial catalog=UrbanCon;user id=web;password=web;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="OfficeEntities" connectionString="metadata=res://*/Models.Office.csdl|res://*/Models.Office.ssdl|res://*/Models.Office.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SC-201910241212;initial catalog=UrbanCon;user id=web;password=web;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="VideoArchiveEntities" connectionString="metadata=res://*/Models.VideoArchive.csdl|res://*/Models.VideoArchive.ssdl|res://*/Models.VideoArchive.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SC-201910241212;initial catalog=UrbanCon;user id=web;password=web;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BianYanEntities" connectionString="metadata=res://*/Models.BianYan.csdl|res://*/Models.BianYan.ssdl|res://*/Models.BianYan.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SC-201910241212;initial catalog=UrbanCon;user id=web;password=web;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="gxArchives" connectionString="metadata=res://*/Models.gxArchives.csdl|res://*/Models.gxArchives.ssdl|res://*/Models.gxArchives.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SC-201910241212;initial catalog=UrbanCon;user id=web;password=web;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="gxArchivesContainer" connectionString="metadata=res://*/Models.gxArchives.csdl|res://*/Models.gxArchives.ssdl|res://*/Models.gxArchives.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SC-201910241212;initial catalog=UrbanCon;user id=web;password=web;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="guanzhangtongjiEntities" connectionString="metadata=res://*/Models.guanzhangtongji.csdl|res://*/Models.guanzhangtongji.ssdl|res://*/Models.guanzhangtongji.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SC-201910241212;initial catalog=UrbanCon;user id=web;password=web;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="IP" value="SC-201910241212" />
    <add key="JunGongPath1" value="G:\JunGongArchives1\" />
    <add key="JunGongWebPath1" value="http://SC-201910241212:8003/JunGongArchives1/" />
    <add key="JunGongPath" value="G:\JunGongArchives\" />
    <!--<add key="JunGongPath" value="E:\数据\jpg\" />-->
    <add key="JunGongWebPath" value="http://SC-201910241212:8003/JunGongArchives/" />
    <add key="OtherArchivesPath" value="G:\OtherArchives\" />
    <add key="OtherArchivesWeb" value="http://SC-201910241212:8003/OtherArchives/" />
    <add key="TuzhiArchivesPath" value="G:\OtherArchives\Tuzhi\" />
    <add key="TuzhiArchivesWeb" value="http://SC-201910241212:8003/OtherArchives/Tuzhi/" />
    <add key="PlanArchiveBatchPath" value="http://SC-201910241212:8003/PlanArchBatch/" />
    <add key="PlanArchiveBatchPathLocal" value="H:\PlanArchBatch\" />
    <add key="PlanPicsProjPath" value="H:\PlanArchives\" />
    <add key="PlanPicsProjAddress" value="http://SC-201910241212:8003/PlanArchives/" />
    <add key="GuanXianPath" value="H:\GuanXian\" />
    <add key="GuanXianWebPath" value="http://SC-201910241212:8003/GuanXian/" />
    <add key="YuanChuanPath" value="H:\YuanChuanArchives\" />
    <add key="YuanChuanWebPath" value="http://SC-201910241212:8003/YuanChuanArchives/" />
    <add key="ZhengDiPath" value="H:\ZDArchives\" />
    <add key="ZhengDiWebPath" value="http://SC-201910241212:8003/ZDArchives/" />
    <add key="ServerVirtualPath" value="http://SC-201910241212:8003" />
  </appSettings>
  <system.web>
    <authentication mode="Forms">
      <forms defaultUrl="~/Home/Index" loginUrl="~/Account/Login"></forms>
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime maxRequestLength="4096000" useFullyQualifiedRedirectUrl="true" targetFramework="4.5.2" />
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483647" />
      </requestFiltering>
    </security>
    <staticContent>
      <remove fileExtension=".babylon" />
      <mimeMap fileExtension=".babylon" mimeType="application/object" />
    </staticContent>
  </system.webServer>
  <system.webServer>
   
    </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <!--<parameters>
        <parameter value="mssqllocaldb" />
      </parameters>-->
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>