@{
    Layout = null;
    //要使视图不使用布局或模板页，那么需要把Layout赋值为空
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title - 青岛市多维城市建设档案数字化管理系统</title>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="~/Content/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/new.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/stylesheets/theme.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/stylesheets/premium.css" rel="stylesheet" />

    <style type="text/css">
        #line-chart {
            height: 300px;
            width: 800px;
            margin: 0px auto;
            margin-top: 1em;
        }

        .navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
            color: #fff;
        }
    </style>
    <style>
        .loader {
            box-sizing: border-box;
            height: 100%;
            width: 100%;
            padding-top: 100px;
            background-color: #ddd;
            color: #fff;
            font-size: 30px;
            font-weight: bold;
            text-align: center;
        }

            .loader i {
                margin-bottom: 20px;
                font-size: 60px;
            }
    </style>

    <link href="~/Content/AdminLTE-2.3.7/bootstrap/css/bootstrap.min.css" rel="stylesheet" />


    <link href="~/Content/AdminLTE-2.3.7/dist/css/AdminLTE.min.css" rel="stylesheet" />

    <link href="~/Content/AdminLTE-2.3.7/dist/css/skins/_all-skins.min.css" rel="stylesheet" />

    @*<!-- jQuery 2.2.3 -->
        <script src="~/Content/AdminLTE-2.3.7/plugins/jQuery/jquery-2.2.3.min.js"></script>
        <!-- Bootstrap 3.3.6 -->
        <script src="~/Content/AdminLTE-2.3.7/bootstrap/js/bootstrap.min.js"></script>
        <!-- SlimScroll -->
        <script src="~/Content/AdminLTE-2.3.7/plugins/slimScroll/jquery.slimscroll.min.js"></script>
        <!-- FastClick -->
        <script src="~/Content/AdminLTE-2.3.7/plugins/fastclick/fastclick.js"></script>
        <!-- AdminLTE App -->
        <script src="~/Content/AdminLTE-2.3.7/dist/js/app.min.js"></script>
        <!-- AdminLTE for demo purposes -->
        <script src="~/Content/AdminLTE-2.3.7/dist/js/demo.js"></script>*@
    <link href="~/Content/jquery-ui.theme.css" rel="stylesheet" />
    <link href="~/Content/Tabulator/version3.0/tabulator.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-2.1.1.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Content/Tabulator/version3.0/tabulator.js"></script>


    <script type="text/javascript">
    var details = function (value, data, cell, row, options) { //plain text value
        return "<i class='fa fa-search-plus' style='color:#428bca;;vertical-align:middle; padding:2px 0;'></i> "
    };
    

  
    function createIframe0(url) {



        var selectedData = $("#example-table-2").tabulator("getSelectedData");
        //var i = document.createElement("iframe");
        //var ch=document.getElementById("checkname1").value;
        var ch=selectedData[0].ID;
        //document.getElementById("checkname1").value=document.getElementById("123").contentWindow.document.getElementById("checkname1").value;
        //var ch=document.getElementById("checkname1").value;

        document.getElementById("example-table-2").style.display = "none";
        document.getElementById("CurUser").style.display="none";
        document.getElementById("NoCurUser").style.display="none";
        document.getElementById("div-that-holds-the-iframe").style.display="block";
        document.getElementById('SingleArchiveDetailInfo').style.color="red";

        document.getElementById('ClassTypeArchives').style.color="black";
        document.getElementById('CurUser').style.color="black";
        document.getElementById('NoCurUser').style.color="black";
        var i=document.getElementById("123");
        i.contentWindow.location.href=url+ch;
        i.scrolling ="auto";
        i.frameborder ="0";
        i.width ="100%";


    };

    function createIframe1() {
        if(document.getElementById("example-table-2").style.display =="none")
        {
            document.getElementById("example-table-2").style.display = "block";
        }
        if(document.getElementById("CurUser").style.display=="none"&&document.getElementById("NoCurUser").style.display =="none")
        {
            document.getElementById("CurUser").style.display="block";
            document.getElementById("NoCurUser").style.display="block";
        }
        if( document.getElementById("div-that-holds-the-iframe").style.display=="block")
        {
            document.getElementById("div-that-holds-the-iframe").style.display = "none";
        }
        var selectedData = $("#example-table-2").tabulator("getSelectedData");
        document.getElementById("checkname1").value= selectedData[0].f;

        document.getElementById('SingleArchiveDetailInfo').style.color="black";
        document.getElementById('ClassTypeArchives').style.color="red";
        document.getElementById('CurUser').style.color="black";
        document.getElementById('NoCurUser').style.color="black";
    };



    function createIframe6() {

        var selectedData = $("#example-table-2").tabulator("getSelectedData");
        var name="";
        document.getElementById('SingleArchiveDetailInfo').style.color="black";

        document.getElementById('ClassTypeArchives').style.color="black";

        document.getElementById('NoCurUser').style.color="black";
        document.getElementById('CurUser').style.color="red";
        for(var j=0;j<selectedData.length;j++)
        {
            name+=selectedData[j].ID+"/"+selectedData[j].archiveNo+",";
        }


        window.open("/ArchiveSearch/CurUserAdd/?id3="+name+"&type=5");

    };
    function createIframe7()
    {
        var selectedData = $("#example-table-2").tabulator("getSelectedData");
        var name="";
        document.getElementById('NoCurUser').style.color="red";
        document.getElementById('SingleArchiveDetailInfo').style.color="black";

        document.getElementById('ClassTypeArchives').style.color="black";
        document.getElementById('CurUser').style.color="black";

        for(var j=0;j<selectedData.length;j++)
        {
            name+=selectedData[j].ID+"/"+selectedData[j].archiveNo+",";
        }

        window.open("/ArchiveSearch/NoCurUser/?id3="+name+"&type=5");

    };



    $().ready(function () {//在页面加载完成之后用，为了保证js能完整的执行。
        $(document).ready(function () {
            document.getElementById('ClassTypeArchives').style.color="red";
            var a = $(window).height();
            var hh = a-160;
            $(".box-h").height(hh)  // 高度加在类名为box的DIV 上
        })
        $("#example-table-2").tabulator({
            height: "100%",

            virtualDom:false,
            selectable:1,
            sortable: false ,
            colMinWidth:100,
            fitColumns:true,
            pagination: "remote",
            ajaxURL: "/ArchiveSearch2/LookQingArchives_ClasstypeData/",
          
            paginator: function (url, pageNo, pageSize, ajaxParams) {

                var SerachText = document.getElementById("SerachText").value;
               
                Url = url + "?page=" + pageNo + "&SerachTextClass=" + encodeURI(SerachText);


                return Url; 
            },
          

            columns: [
{
    title: "查看", field: "ID",width: 50 ,formatter:details, headerSort: false, align: "center", cellClick: function (e,cell){
       

        $("#checkname1").val(cell.getValue());

    }
},




           { title: "项目顺序号", field: "proSeqNo", headerSort: false, width: 100 },
            //{ title: "ID", field: "ID", headerSort: false, width: 100 },
            { title: "扫描件", field:"isImageExist",headerSort: false, width: 60 },
           
            { title: "案卷顺序号", field:"count",headerSort: false, width: 100 },
            { title: "档号", field:"archiveNo",headerSort: false, width: 100 },
            { title: "案卷题名", field:"archiveTitle",headerSort: false, width: 1100 },
            { title: "编制单位", field: "bianzhiUnit", headerSort: false, width: 450 },
           
           
            { title: "总登记号", field:"registrationNo", headerSort: false,width: 100 },
            { title: "分类号", field:"classNo",headerSort: false, width: 100 },
            //{ title: "ID", field:"ID",headerSort: false,width: 100 },
           
            //{ title: "是否内部", field:"isNeibu",headerSort: false,width: 100 ,},
  



            ],

        });

       

    });
    function change() {

        $("#example-table-2").tabulator("setPage", document.getElementById("curruntpage").value);
    }
    </script>
</head>
    <body style="background:#ecf0f5;padding:15px;padding-bottom:0px;">


        <div style="overflow-y:auto;overflow-x:hidden; height:100%;">
            @*@using (Html.BeginForm())
            {*@
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs" style="cursor:pointer;">
                        <li class="active"><a onclick="return createIframe1()" id="ClassTypeArchives" data-toggle="tab">分类档案</a></li>
                        <li><a onclick="return createIframe0('/ArchiveSearch2/LookQingArchives_Classtype_SingleArchiveDetailInfo/?id=')" id="SingleArchiveDetailInfo" data-toggle="tab">单卷案卷详细信息</a></li>

                        <li><a onclick="return createIframe6()" id="CurUser" data-toggle="tab">当前用户添加</a></li>
                        <li><a onclick="return createIframe7()" id="NoCurUser" data-toggle="tab">非当前用户添加</a></li>
                        <li><a id="count" data-toggle="tab" disabled="disabled" style="color:blue;cursor:default;">共检索到数据:@ViewData["count"]</a></li>
                        <li><a id="count1" style="color:blue;cursor:default;"><input type="text" name="curruntpage" id="curruntpage" onblur="change()" style="width:30px;height:18px;border:0px;">/@ViewData["totalpage"] </a></li>
                    </ul>
                    <div class="tab-content">

                        <input name="SerachText" id="SerachText" value="@ViewData["SerachText"]" hidden="hidden" />
                        <input name="checkname1" id="checkname1" hidden="hidden">
                        <div id="example-table-2" class="box-h">
                            <div class="loader"><i class="fa fa-spinner fa-pulse fa-fw"></i><div>数据加载中...</div></div>
                        </div>
                        <div id="div-that-holds-the-iframe" style="display:none;border:0px">
                            <iframe id="123" name="123" class="box-h" style="border:2px solid #ddd"></iframe>
                        </div>
                    </div>
                </div>
            @*}*@
        </div>
    </body>
</html>









