

@*<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />*@
<link href="~/Content/jquery-ui.theme.css" rel="stylesheet" />
<link href="~/Content/Tabulator/version3.0/tabulator.css" rel="stylesheet" />

<script src="~/Scripts/jquery-2.1.1.min.js" type="text/javascript"></script>
<script src="~/Scripts/jquery-ui.min.js"></script>
<script src="~/Content/Tabulator/version3.0/tabulator.js"></script>


<script type="text/javascript">
   

    var chec=function(value,data,cell,row,options){
        return "<i class='fa fa-search-plus' style='color:#428bca;;vertical-align:middle; padding:2px 0;'></i> "
        //return '<input type="checkbox" name="chec" >';

    };


    $().ready(function () {//在页面加载完成之后用，为了保证js能完整的执行。
        $(document).ready(function () {
            var height = $(window).height();   // 浏览器的高度
            document.getElementById('RoadArchives').style.color="red";
            $(".box-h").height(height)  // 高度加在类名为box的DIV 上

        })
            $("#example-table-2").tabulator({
                height: "100%",
                virtualDom:false,
                selectable:true,
                fitColumns:true,
                pagination:"local",
                paginationSize:50,
                columns: [
{
    title: "选择", field: "check",width: 50 ,formatter:chec, sorter: "string", align: "center",cellClick: function (e,cell) {


        $("#checkname1").val(cell.getValue());

    }
},



               { title: "案卷顺序号", field:"1", width: 200 },
                { title: "卷内序号", field:"b", width: 100 },
                { title: "文件编号", field:"f", width: 100 },
                { title: "类别", field:"4", width: 100 },
                { title: "建设单位", field:"5", width: 200 },
                { title: "工程内容", field:"6", width: 200 },
                { title: "工程地点", field:"7", width: 200 },
                { title: "盒号", field:"8", width: 200 },
                { title: "案卷题名", field:"9", width: 200 },
                { title: "排架号", field:"a", width: 200 },
                { title: "页数", field:"11" },
               

                ],


                selectOnCheck: true,

                checkOnSelect: true
            });

            var temp = new Array();
            var data=@(new HtmlString(@ViewBag.result1));




        for (var i = 0; i < data.length;i++) {


            temp.push({ "id": i + 1,"ckeck":data[i].projectID,"1": data[i].seqNo, "b": data[i].juanneiSeqNo, "f": data[i].fileNo, "4": data[i].classifyName,"5":data[i].developmentUnit,"6":data[i].projectContent,"7": data[i].projectLocation, "8":data[i].boxNo,"9":data[i].archiveTitle,"a":data[i].paijiaNo,"11":data[i].pageCnt,
                "c":data[i].projectID
            });
        }

            $("#example-table-2").tabulator("setData", temp);
            $(window).resize(function () {
                $(document).ready(function () {
                    var a = $(window).height();
                    var hh = a-160;
                    $(".box-h").height(hh)  // 高度加在类名为box的DIV 上
                    $("#example-table-2").tabulator("redraw",true);

                })
            });

    });
    function createIframe6() {
        
        var selectedData = $("#example-table-2").tabulator("getSelectedData"); 
        var name="";
       
        for(var j=0;j<selectedData.length;j++)
        {
            name+=selectedData[j].c+"/"+selectedData[j].b+",";
        }
        
        document.getElementById("checkname1").value=name;
    };
    function createIframe7()
    {
        var selectedData = $("#example-table-2").tabulator("getSelectedData"); 
        var name="";
        //alert(1);
        //alert(selectedData[0].archivesNo);
        for(var j=0;j<selectedData.length;j++)
        {
            name+=selectedData[j].c+"/"+selectedData[j].b+",";
        }
       
        document.getElementById("checkname1").value=name;
    };
</script>

@using (Html.BeginForm())
{

    <input name="checkname1" id="checkname1" hidden="hidden">

}

<div id="example-table-2" class="box-h">

</div>
<div id="div-that-holds-the-iframe" style="display:none;">
    <iframe id="123" name="123"></iframe>
</div>








