
<div class="col-md-4">
    <h3>@Html.ActionLink("图纸档案管理", "Index")</h3>
</div>
<div class="col-md-4">
    <h3>@Html.ActionLink("图纸添加档案", "Create")</h3>
</div>
<div class="col-md-4">
    <h3>@Html.ActionLink("征地档案管理", "Index","zdArchives")</h3>
</div>
<div class="col-md-4">
    <h3>@Html.ActionLink("征地添加档案", "Create","zdArchives")</h3>
</div>

