
@{
    ViewBag.Title = "打印个人整理档案统计";
}
@section css{
    <link type="text/css" rel="stylesheet" href="~/Scripts/jquery/jquery-ui.css">
}
@section scripts{
    <script type="text/javascript" src="~/Scripts/jquery/jquery-1.8.3.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery/jquery.ui.core.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery/jquery.ui.datepicker.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery/jquery-ui-timepicker-addon.js"></script>
    @*<script type="text/javascript" src="~/Scripts/jquery/jquery-ui-timepicker-zh-CN.js"></script>*@
    <script>
            $(function () {
                $("#startdata").datepicker({
                    changeMonth: true,
                    changeYear: true
                });
            });
            $(function () {
                $("#enddata").datepicker({
                    changeMonth: true,
                    changeYear: true
                });
            });
            function right()//单击显示数据列表1
            {
                var Person = document.getElementById("collator").value;
                var DataFrom = document.getElementById("startdata").value;
                var DataTo = document.getElementById("enddata").value;
                $.ajax({
                    url: '../../StatisticalAndRetrieval/reporting',
                    data: { collator: Person, startdata: DataFrom, enddata: DataTo },
                    type: 'post',
                    success: function (data) {
                    }
                })
            }
            function colse()
            {
                window.close();
            }
    </script>
    }
@using (Html.BeginForm())
{
<body>
    <h2><i class="fa fa-tags kongge"></i>打印个人整理档案统计</h2>
    <hr />

    <form>
        <div style="font-size:20px;">
            <i class="fa fa-caret-right kongge"></i>请输入整理人
        </div><br>
        <div class="panel panel-default">
            <table class="table table-bordered dl-horizontal">
                <tr>
                    <td style="background-color:#f9f9f9;width:10%;">
                        整理人
                    </td>
                    <td>
                        <input type="text" id="collator" name="collator" class="form-control">
                    </td>                    
                </tr>
            </table>
        </div><br />
        <div style="font-size:20px;">
            <i class="fa fa-caret-right kongge"></i>请输入整理日期范围
        </div><br>
        <div class="panel panel-default">
            <table class="table table-bordered dl-horizontal">
                <tr>
                    <td style="background-color:#f9f9f9;width:10%;">
                        整理起始日期
                    </td>
                    <td>
                        <input type="text" id="startdata" name="startdata" class="form-control">
                    </td>
                    <td style="background-color:#f9f9f9;width:10%;">
                        整理终止日期
                    </td>
                    <td>
                        <input type="text" id="enddata" name="enddata" class="form-control">
                    </td>
                </tr>
            </table>
        </div>
        <div>
            <p style="text-align:center">
                <input type="submit" id="ok" value="打印外部档案整理" name="action" class="btn btn-default" />
                <input type="submit" id="ok" value="打印内部档案整理" name="action" class="btn btn-default" />
                @*<input type="submit" id="cancel" value="取消" name="action" class="btn btn-default" />*@
            </p>
            
        </div>

                @*<div class="title">
                    <h1 style="font-size: x-large;">
                        &nbsp; &nbsp; 打印个人整理档案统计
                    </h1>
                </div>
                <div>
                    <label class="form-group">请输入整理人</label><br>
                    <label> 整理人:</label>
                    <input type="text" id="collator" name="collator" class="form-control">
                </div>
                <div>
                    <br>
                    <label class="form-group">请输入整理日期范围</label><br>
                    <label> 整理起始日期:</label>
                    <input type="text" id="startdata" name="startdata" class="form-control">
                </div>
                <div>
                    整理终止日期:
                    <input type="text" id="enddata" name="enddata" class="form-control">
                </div>
                <br>
                <div>
                    <input type="submit" id="ok" value="打印" name="action" class="btn btn-default" />
                    <input type="submit" id="cancel" value="取消" name="action" class="btn btn-default" />
                </div>*@
    </form>
</body>
}