
@{
    ViewBag.Title = "打印城建档案B大类目录";
}
<h2><i class="fa fa-tags"></i>打印城建档案B大类目录</h2>
<hr />

@using (Html.BeginForm())
{
    <div style="font-size:20px;">
        <i class="fa fa-caret-right"></i>查询方式（一）请输入档案号范围（精确查询）
    </div><br>
    <div class="panel panel-default">
        <table class="table table-bordered dl-horizontal">
            <tr>
                <td style="background-color:#f9f9f9;width:10%;">
                    起始档案号:
                </td>
                <td>
                    <input type="text" name="archiveNoS" id="archiveNoS" class="form-control " />
                </td>
                <td style="background-color:#f9f9f9;width:10%;">
                    终止档案号:
                </td>
                <td>
                    <input type="text" name="archiveNoE" id="archiveNoE" class="form-control " />
                </td>
            </tr>
            <tr>
                <td colspan="4" style="text-align:center;">
                    <input type="submit" name="action" class="btn btn-default" id="ok" value="打印城建档案B大类目录（精确）" />
                    <input type="submit" name="action" class="btn btn-default" id="cancel" value="取消" />
                </td>
            </tr>
        </table>
    </div>
    <div style="font-size:20px;">
        <i class="fa fa-caret-right"></i>查询方式（二）请输入档案号（精确查询）
    </div><br>
    <div class="panel panel-default">
        <table class="table table-bordered dl-horizontal">
            <tr>
                <td style="background-color:#f9f9f9;width:10%;">
                    输入档案号:
                </td>
                <td colspan="3">
                    <input type="text" name="archiveNo" id="archiveNo" class="form-control " />
                </td>

            </tr>
            <tr>
                <td colspan="4" style="text-align:center;">
                    <input type="submit" name="action" class="btn btn-default" id="ok" value="打印城建档案B大类目录（模糊）" />
                    <input type="submit" name="action" class="btn btn-default" id="cancel" value="取消" />
                    <input type="submit" name="action" class="btn btn-default" id="all" value="打印全部" />
                </td>
            </tr>
        </table>
    </div>

    @*<div>
        查询方式（一）请输入档案号范围（精确查询）
    </div><br>
    <div>
        起始档案号:
    </div>
    <div>
        <input type="text" name="archiveNoS" id="archiveNoS" class="form-control " />
    </div>
    <div>
        终止档案号:
    </div>
        <div>
            <input type="text" name="archiveNoE" id="archiveNoE" class="form-control " />
        </div>
        <div>
            <input type="submit" name="action" class="btn btn-default" id="ok" value="打印城建档案B大类目录（精确）" />
            <input type="submit" name="action" class="btn btn-default" id="cancel" value="取消" />

        </div>
        <br>
        <div>
            查询方式（二）请输入档案号（模糊查询）
        </div><br>
        <div>
            输入档案号:
            <input type="text" name="archiveNo" id="archiveNo" class="form-control " />
        </div>
        <div>
            <input type="submit" name="action" class="btn btn-default" id="ok" value="打印城建档案B大类目录（模糊）" />
            <input type="submit" name="action" class="btn btn-default" id="cancel" value="取消" />
            <input type="submit" name="action" class="btn btn-default" id="all" value="打印全部" />
        </div>*@
}
