
@{
    ViewBag.Title = "城建档案总目录";
}

<h2><i class="fa fa-tags"></i>城建档案总目录</h2>
<hr />

@using (Html.BeginForm())
{
    <div style="font-size:20px;">
        <i class="fa fa-caret-right"></i>请输入项目顺序号的范围
    </div><br>
    <div class="panel panel-default">
        <table class="table table-bordered dl-horizontal">
            <tr>
                <td style="background-color:#f9f9f9;width:180px;">
                    起始项目顺序号（*）:
                </td>
                <td>
                    <input type="text" name="seqNoStart" id="seqNoStart" class="form-control " />
                </td>
                <td style="background-color:#f9f9f9;width:180px;">
                    起始卷号:
                </td>
                <td>
                    <input type="text" name="VolNoStart" id="VolNoStart" class="form-control " />
                </td>
            </tr>
            <tr>
                <td style="background-color:#f9f9f9;width:180px;">
                    终止项目顺序号（*）:
                </td>
                <td>
                    <input type="text" name="seqNoEnd" id="seqNoEnd" class="form-control " />
                </td>
                <td style="background-color:#f9f9f9;width:180px;">
                    终止卷号:
                </td>
                <td>
                    <input type="text" name="VolNoEnd" id="VolNoEnd" class="form-control " />
                </td>
            </tr>
            <tr>
                <td colspan="4" style="text-align:center;">
                    <input type="submit" name="action" class="btn btn-default" id="ok" value="打印档案总目录（项目顺序号范围）" />
                    <input type="submit" name="action" class="btn btn-default" id="cancel" value="取消" />
                    <input type="submit" name="action" class="btn btn-default" id="all" value="打印全部" />
                </td>

            </tr>
        </table>
    </div>
    <div style="font-size:20px;">
        <i class="fa fa-caret-right"></i>请输入起始项目顺序号和卷号
    </div><br>
    <div class="panel panel-default">
        <table class="table table-bordered dl-horizontal">
            <tr>
                <td style="background-color:#f9f9f9;width:180px;">
                    起始项目顺序号（*）:
                </td>
                <td>
                    <input type="text" name="SeqNoS" id="SeqNoS" class="form-control " />
                </td>
                <td style="background-color:#f9f9f9;width:180px;">
                    起始卷号:
                </td>
                <td>
                    <input type="text" name="VolNoS" id="VolNoS" class="form-control " />
                </td>
            </tr>
            <tr>
                <td colspan="4" style="text-align:center;">
                    <input type="submit" name="action" class="btn btn-default" id="ok" value="打印档案总目录（起始）" />
                    <input type="submit" name="action" class="btn btn-default" id="cancel" value="取消" />
                </td>

            </tr>
        </table>
    </div>

    @*<div>
            请输入项目顺序号的范围
        </div>
            <br>
            <div>
                起始项目顺序号（*）:
            </div>
            <div>
                <input type="text" name="seqNoStart" id="seqNoStart" class="form-control " />
            </div>
            <div>
                起始卷号:
            </div>
            <div>
                <input type="text" name="VolNoStart" id="VolNoStart" class="form-control " />
            </div>
            <div>
                终止项目顺序号（*）:
            </div>
            <div>
                <input type="text" name="seqNoEnd" id="seqNoEnd" class="form-control " />
            </div>
            <div>
                终止卷号:
            </div>
            <div>
                <input type="text" name="VolNoEnd" id="VolNoEnd" class="form-control " />
            </div>
            <br>
            <div>
                <input type="submit" name="action" class="btn btn-default" id="ok" value="打印档案总目录" />
                <input type="submit" name="action" class="btn btn-default" id="cancel" value="取消" />
                <input type="submit" name="action" class="btn btn-default" id="all" value="打印全部" />
            </div>
            <br>
    <div>
        请输入起始项目顺序号和卷号
    </div>
            <br>
            <div>
                起始项目顺序号（*）:
                <input type="text" name="SeqNoS" id="SeqNoS" class="form-control " />
            </div>
            <div>
                起始卷号:
                <input type="text" name="VolNoS" id="VolNoS" class="form-control " />
            </div>
            <br>
            <div>
                <input type="submit" name="action" class="btn btn-default" id="ok" value="打印档案总目录" />
                <input type="submit" name="action" class="btn btn-default" id="cancel" value="取消" />
            </div>*@
}
