
@{
    ViewBag.Title = "打印规划档案封皮";
}
<h2><i class="fa fa-tags"></i>打印规划档案封皮</h2>
<hr />
@using (Html.BeginForm())
{
    <div style="font-size:20px;">
        <i class="fa fa-caret-right"></i>请输入工程总顺序号范围
    </div><br>
    <div class="panel panel-default">
        <table class="table table-bordered dl-horizontal">
            <tr>
                <td style="background-color:#f9f9f9;width:10%;">
                    起始工程总顺序号:
                </td>
                <td>
                    <input type="text" id="SeqNoS" name="SeqNoS" class="form-control">
                </td>
                <td style="background-color:#f9f9f9;width:10%;">
                    终止工程总顺序号:
                </td>
                <td>
                    <input type="text" id="SeqNoE" name="SeqNoE" class="form-control">
                </td>
            </tr>
            <tr>
                <td colspan="4" style="text-align:center;">
                    <input type="submit" id="ok" value="打印案卷（工程）封皮" name="action" class="btn btn-default" />
                    <input type="submit" id="ok" value="打印工程封皮" name="action" class="btn btn-default" />
                    <input type="submit" id="cancel" value="取消" name="action" class="btn btn-default" />
                </td>
            </tr>
        </table>
    </div>

    @*<div>
        <br>
        <label class="form-group">请输入工程总顺序号范围</label><br>
        起始工程总顺序号:
        <input type="text" id="SeqNoS" name="SeqNoS" class="form-control">
    </div>
    <div>
        终止工程总顺序号:
        <input type="text" id="SeqNoE" name="SeqNoE" class="form-control">
    </div>
            <br>
            <div>
                <input type="submit" id="ok" value="打印案卷（工程）封皮" name="action" class="btn btn-default" />
                <input type="submit" id="ok" value="打印工程封皮" name="action" class="btn btn-default" />
                <input type="submit" id="cancel" value="取消" name="action" class="btn btn-default" />
            </div>*@

}
