

@{
    ViewBag.Title = "查询竣工档案统计信息";
}
<section>
    <h2 style="float:left;"><i class="fa fa-tags kongge"></i>查询竣工档案统计信息</h2>
    <ol class="breadcrumb">
        <li>馆长室</li>
        <li>馆长统计</li>
        <li class="active">竣工档案统计</li>
    </ol>
    <div style="clear:both;"></div>
</section>
<hr style="margin-top:0px"/>
@section css{
    <link type="text/css" rel="stylesheet" href="~/Scripts/jquery/jquery-ui.css">
}
@section scripts{
    <script type="text/javascript" src="~/Scripts/jquery/jquery-1.8.3.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery/jquery.ui.core.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery/jquery.ui.datepicker.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery/jquery-ui-timepicker-addon.js"></script>
    @*<script type="text/javascript" src="~/Scripts/jquery/jquery-ui-timepicker-zh-CN.js"></script>*@
    <script>
            $(function () {
                $("#startdata").datepicker({
                    changeMonth: true,
                    changeYear: true
                });
            });
            $(function () {
                $("#enddata").datepicker({
                    changeMonth: true,
                    changeYear: true
                });
            });
    </script>
}
@using (Html.BeginForm())
{
    <div style="font-size:20px;">
        <i class="fa fa-caret-right kongge"></i>请输入接收日期范围,日期格式：2010-03-12
    </div><br>
    <div class="panel panel-default">
        <table class="table table-bordered dl-horizontal">
            <tr>
                <td style="background-color:#f9f9f9;width:10%;">
                    起始日期:
                </td>
                <td>
                    <input type="text" id="startdata" name="startdata" class="form-control">
                </td>
                <td style="background-color:#f9f9f9;width:10%;">
                    终止日期:
                </td>
                <td>
                    <input type="text" id="enddata" name="enddata" class="form-control">
                </td>
            </tr>
            <tr>
                <td colspan="4" style="text-align:center;">
                    <input type="submit" id="ok" value="查询竣工档案统计信息" name="action" class="btn btn-default" />
                </td>
            </tr>
        </table>
    </div>


}
