@model IEnumerable<urban_archive.Models.ArchiveCertificate>
@*@using PagedList.Mvc;
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />*@
<link href="~/Content/jquery-ui.theme.css" rel="stylesheet" />
<link href="~/Content/Tabulator/version3.0/tabulator.css" rel="stylesheet" />
@{
    ViewBag.Title = "PaperSettle";
}
<script src="~/Scripts/jquery-2.1.1.min.js" type="text/javascript"></script>
<script src="~/Scripts/jquery-ui.min.js"></script>
<script src="~/Content/Tabulator/version3.0/tabulator.js"></script>
<script type="text/javascript">
    var q = function (value, data, cell, row, options) { //plain text value
        return "<i class='fa fa-print' style='color:#428bca;vertical-align:middle; padding:2px 0;'></i>"
    };
    var p = function (value, data, cell, row, options) { //plain text value
        return "<i class='fa fa-print' style='color:#428bca;vertical-align:middle; padding:2px 0;'></i>"
    };
    $().ready(function () {//在页面加载完成之后用，为了保证js能完整的执行。
        $(document).ready(function () {
            var a = $(window).height();
            var hh = a-160;
            $(".box-h").height(hh)  // 高度加在类名为box的DIV 上

        })
            $("#example-table-2").tabulator({
                height:"100%",
                virtualDom:false,
                selectable: true,
                fitColumns:true,
                pagination:"local",
                paginationSize:50,
                columns: [
                   {
                       title: "打印合格证", field: "q", width: 100 ,formatter: q, headerSort: false, align: "center",  cellClick: function (e,cell) {
                        var url = '/guanzhang/hegezheng?id=' +  cell.getValue();
                        window.location.href = url;
                        //alert('对不起，您没有权限进行编号修改！');
                    }
                   },
                   {
                       title: "打印预验收意见书", field: "p", width: 140 ,formatter: p,  headerSort: false,align: "center",  cellClick: function (e,cell) {
                           var url = '/guanzhang/yuyanshou?id=' +  cell.getValue();
                           window.location.href = url;
                           //alert('对不起，您没有权限进行编号修改！');
                       }
                   },

                { title: "证书编号", field: "w", headerSort: false,width: 200 },
                { title: "工程名称", field: "a", headerSort: false,width: 200 },
                { title: "工程地址", field: "b", headerSort: false,width: 200 },
                { title: "建设单位", field: "c", headerSort: false,width: 200 },
                { title: "归档时间", field: "d", headerSort: false,width: 200 },
                { title: "工程起始时间", field: "e", headerSort: false,width: 200 },
                { title: "工程结束时间", field: "f",headerSort: false, width: 200 },
                { title: "联系人（档案员）", field: "g",headerSort: false, width: 200 },
                { title: "联系人电话", field: "h",headerSort: false, width: 200 },
                { title: "接收人",headerSort: false, field: "i",minWidth:100 },
                ],
            });

            var temp = new Array();
            @*var data=@Html.Raw(Json.Encode(Model));*@
            var data=@(new HtmlString(@ViewBag.result));
            for (var i = 0; i < data.length;i++) {
                var a = data[i].dateArchive
                var result=a
                if(a!=null){
                    result =  a.slice(0,10)
                }
                temp.push({ "id": i + 1, "w": data[i].archiveCertificateNo, "a": data[i].projectName, "b": data[i].location, "c": data[i].developmentOrganization, "d": result,"e": data[i].projectStartDate,"f":data[i].projectFinishDate,"g": data[i].submitPerson,"h":data[i].telphoneSubmitPerson,"i":data[i].recipient,"r": data[i].projectID,"q": data[i].archiveCertificateNo,"p": data[i].archiveCertificateNo});
            }

            $("#example-table-2").tabulator("setData", temp);
            $(window).resize(function () {
                var a = $(window).height();
                var hh = a-160;
                $(".box-h").height(hh)  // 高度加在类名为box的DIV 上
                $("#example-table-2").tabulator("redraw",true);

            });

        });
</script>

<section>
    <h2 style="float:left;"><i class="fa fa-tags kongge"></i>打印证件</h2>
    <ol class="breadcrumb">
        <li class="active">馆长室</li>
        <li class="active">证件打印</li>
        <li>打印证件</li>
    </ol>
    <div style="clear:both;"></div>
</section>

@using (Html.BeginForm())
            {
    <p>
        检索条件：@Html.DropDownList("SelectedID", null, new { @class = "form-control", @style = "display:inline" }) = @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", @style = "display:inline" })
        <input type="submit"name="action" class="btn btn-default" value="查找" />


    </p>
}
<div id="example-table-2" class="box-h" > </div>
