@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/home.css" rel="stylesheet" />
<style type="text/css">
    .timu {
        
        font-weight: bold;
        font-size: 1.8em;
        margin-top: 20px;
        margin-bottom: 10px;
        font-family:YouYuan;
        text-align:center;
        padding-bottom:10px;
    }
    .box-shadow-3{  
  -webkit-box-shadow:0 0 15px #808080;  
  -moz-box-shadow:0 0 15px #808080;  
  box-shadow:0 0 15px #808080;  
}  
</style>
<div>
    <p class="timu"><i class="fa fa-tags kongge"></i>管线科工作流程</p>
</div>
<hr />
<div class="container features">
    
    <!-- Title -->
    
    <!-- /.row -->
    <!-- Page Features -->
    <div class="row text-center tiles">
        <div class="col-md-3 col-sm-6 tile" >
            <a href="/SignContract/Create" >
                <div class="frame box-shadow-3" style="background-color:#fff;">
                    <i class="fa fa-files-o"></i>
                    <div class="caption">
                        <h3  style="font-family:YouYuan;">签订移交责任书</h3>
                        @*<p>Filter data to display only what you need to</p>*@
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-sm-6 tile">
            <a href="/LuruProject/gxCreate">
                <div class="frame box-shadow-3" style="background-color:#fff;">
                    <i class="fa fa-download"></i>
                    <div class="caption" >
                        <h3  style="font-family:YouYuan;">接收工程</h3>
                        @*<p>Sort data however you like, by any value or data type</p>*@
                    </div>
                </div>
            </a>
        </div>
        
        <div class="col-md-3 col-sm-6 tile">
            <a href="/gxProjectCharge/Create">
                <div class="frame box-shadow-3" style="background-color:#fff;">
                    <i class="fa fa-universal-access"></i>
                    <div class="caption">
                        <h3  style="font-family:YouYuan;">工程收费</h3>
                        @*<p>Graphically group rows by any specified data</p>*@
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-sm-6 tile">
            <a href="/gxPaperSettle/linquzhengli">
                <div class="frame box-shadow-3" style="background-color:#fff;">
                    <i class="fa fa-language"></i>
                    <div class="caption">
                        <h3 style="font-family:YouYuan;">领取整理</h3>
                    </div>
                </div>
            </a>
        </div>
    </div>
    
    
        

    </div>

