@{
    ViewBag.Title = "Home Page";
}

<link href="~/Content/home.css" rel="stylesheet" />
<style type="text/css">
    .timu {
        
        font-weight: bold;
        font-size: 1.8em;
        margin-top: 20px;
        margin-bottom: 10px;
        font-family:YouYuan;
        text-align:center;
        padding-bottom:10px;
    }
    .box-shadow-3{  
  -webkit-box-shadow:0 0 15px #808080;  
  -moz-box-shadow:0 0 15px #808080;  
  box-shadow:0 0 15px #808080;  
}  
</style>
<div>
    <p class="timu"><i class="fa fa-tags kongge"></i>借阅业务索引</p>
</div>
<hr />
<div class="container features">
    
    <!-- Title -->
    
    <!-- /.row -->
    <!-- Page Features -->
    <div class="row text-center tiles">
        <div class="col-md-3 col-sm-6 tile"></div>
        <div class="col-md-3 col-sm-6 tile">
            <a href="/ArchiveSearch/ArchiveSearchMainWindow">
                <div class="frame box-shadow-3" style="background-color:#fff;">
                    <i class="fa fa-folder-open"></i>
                    <div class="caption">
                        <h3 style="font-family:YouYuan;">档案检索</h3>
                        @*<p>Filter data to display only what you need to</p>*@
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-sm-6 tile">
            <a href="/Map/Index">
                <div class="frame box-shadow-3" style="background-color:#fff;">
                    <i class="fa fa-picture-o"></i>
                    <div class="caption">
                        <h3 style="font-family:YouYuan;">地图检索</h3>
                        @*<p>Sort data however you like, by any value or data type</p>*@
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-sm-6 tile"></div>

    </div>
    
    </div>
    
    @*<div class="row text-center">
        <div class="col-md-3 col-sm-6 tile">
            <a href="docs#css">
                <div class="frame">
                    <i class="fa fa-css3"></i>
                    <div class="caption">
                        <h3>CSS Styling</h3>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-3 col-sm-6 tile">
            <a href="docs#pagination">
                <div class="frame">
                    <i class="fa fa-files-o"></i>
                    <div class="caption">
                        <h3>Pagination</h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-sm-6 tile">
            <a href="docs#css">
                <div class="frame">
                    <i class="fa fa-dropbox"></i>
                    <div class="caption">
                        <h3>Packaged Themes</h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-sm-6 tile">
            <a href="docs#get-set">
                <div class="frame">
                    <i class="fa fa-gears"></i>
                    <div class="caption">
                        <h3>Mutators</h3>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-3 col-sm-6 tile">
            <a href="docs#accessibility">
                <div class="frame">
                    <i class="fa fa-universal-access"></i>
                    <div class="caption">
                        <h3>Accessibility</h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-sm-6 tile">
            <a href="docs#frozen-col">
                <div class="frame">
                    <i class="fa fa-columns"></i>
                    <div class="caption">
                        <h3>Freeze Columns</h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-sm-6 tile">
            <a href="docs#selectable">
                <div class="frame">
                    <i class="fa fa-check-square-o"></i>
                    <div class="caption">
                        <h3>Row Selection</h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-sm-6 tile">
            <a href="docs#localization">
                <div class="frame">
                    <i class="fa fa-language"></i>
                    <div class="caption">
                        <h3>Localization</h3>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-3 col-sm-6 tile">
            <a href="docs#download">
                <div class="frame">
                    <i class="fa fa-download"></i>
                    <div class="caption">
                        <h3>Download Data</h3>
                        <p>Download data directly from the table to a CSV File.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-sm-6 tile">
            <a href="docs#progressive-render">
                <div class="frame">
                    <i class="fa fa-cubes"></i>
                    <div class="caption">
                        <h3>Progressive Rendering</h3>
                        <p>Progressively render large datasets to prevent UI blocking</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-sm-6 tile">
            <a href="docs#persistant-columns">
                <div class="frame">
                    <i class="fa fa-floppy-o"></i>
                    <div class="caption">
                        <h3>Persistent Formatting</h3>
                        <p>Remember user layout preferences between visits</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-sm-6 tile">
            <a href="docs#responsive-layout">
                <div class="frame">
                    <i class="fa fa-arrows-alt"></i>
                    <div class="caption">
                        <h3>Responsive Layout</h3>
                        <p>Automatically hide &amp; show data to fit table size</p>
                    </div>
                </div>
            </a>
        </div>
    </div>*@
    <!-- /.row -->
    
    <!-- Footer -->
    
</div>

@*<div class="jumbotron">
        <h2>
            青岛市城市建设档案馆 V2.0
            <br /><br />
        </h2>


        <p><a href="http://localhost:59320/ProjectInfoes/ComplishProject" class="btn btn-primary btn-lg">竣工档案 &raquo;</a></p>
        <p><a href="http://localhost:59320/OtherArchives/Index" class="btn btn-primary btn-lg">执照档案 &raquo;</a></p>
        <p><a href="http://localhost:59320/Office/Home" class="btn btn-primary btn-lg">办公室 &raquo;</a></p>
        <p><a href="http://localhost:59320/bookInfoes/Home" class="btn btn-primary btn-lg">编研科 &raquo;</a></p>
        <p><a href="http://localhost:59320/Charge/Index" class="btn btn-primary btn-lg">财务科 &raquo;</a></p>
        <p><a href="http://localhost:59320/SaoMiaoJian/Index" class="btn btn-primary btn-lg">扫描件 &raquo;</a></p>
        <p><a href="http://localhost:59320/PlanArchiveBoxes/Home" class="btn btn-primary btn-lg">规划档案 &raquo;</a></p>
        <p><a href="http://localhost:59320/OtherArchives/Home" class="btn btn-primary btn-lg">执照档案 &raquo;</a></p>
        <p><a href="http://localhost:59320/Road/Home" class="btn btn-primary btn-lg">道路档案 &raquo;</a></p>
        <p><a href="http://localhost:59320/FenLeiDangAn/Home" class="btn btn-primary btn-lg">分类档案 &raquo;</a></p>
        <p><a href="http://localhost:59320/TuzhiArchives/Home" class="btn btn-primary btn-lg">图纸档案及征地档案 &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>档案馆一期系统</h2>
            <p>
                &nbsp;
                &nbsp;系统旨在以地理空间数据为基础，以建设系统信息资源共享平台为依托，
                实现青岛市辖区范围内的地上和地下的资源、环境和基础设施的数字化全覆盖以及城建系统
                （包括城市建设、城市规划、国土资源、房产管理、环境保护、市政园林、城市管理等）
                信息资源整合、共享和统一管理，并以此为基础，推进城建部门业务协同，实现城市规划、
                建设、管理和服务的数字化、信息化和现代化。
            </p>
            <p><a class="btn btn-primary btn-lg" href="http://222.195.148.120:8002/"> 一期系统 &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>门户网站</h2>
            <p>
                &nbsp;
                &nbsp;青岛市城建档案馆网站是对外的门户，除了具有档案馆基本信息的展示发布功能外，
                还将结合现有的业务系统提供查询功能。它将提供信息发布、档案查询、网上办公、
                特色馆藏利用的一站式服务。网站功能包括：档案馆介绍、政务公开、政策法规、
                档案查询、编研成果、专题报告、咨询留言7个模块。
                <br /><br />
            </p>
            <p><a class="btn btn-primary btn-lg" href="http://go.microsoft.com/fwlink/?LinkId=301866">门户网站 &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>GIS模块</h2>
            <p>
                &nbsp;&nbsp;
                系统综合运用虚拟现实（VR）、地理信息系统、网络多媒体、网络3D等信息技术，
                实现一个基于多维空间信息的二三维在线互动体验系统。系统中利用网络地理信
                息系统和虚拟实现技术，构建系统的多维空间信息，以二维地图的形式提供青岛
                市的城市级空间检索浏览服务。
                <br /><br /><br />
            </p>
            <p><a class="btn btn-primary btn-lg" href="http://go.microsoft.com/fwlink/?LinkId=301867"> GIS模块 &raquo;</a></p>
        </div>
    </div>*@