@model urban_archive.Models.OtherArchives

<div class="display-label">卷号：@Model.volNo</div>
<div class="display-field"></div>
<br />

<div class="display-label">案卷题名：@Model.archiveTitle</div>
<div class="display-field"></div>
<br />

<div class="display-label">工程内容：@Model.projectRange</div>
<div class="display-field"></div>
<br />

<div class="display-label">申请单位：@Model.applyUnit</div>
<div class="display-field"></div>
<br />

<div class="display-label">工程地点：@Model.location</div>
<div class="display-field"></div>
<br /> 