@model urban_archive.Models.vw_projectList

<div class="display-label">工程名称：@Model.projectName</div>
<div class="display-field"></div>
<br />
<div class="display-label">建设单位：@Model.developmentOrganization</div>
<div class="display-field"></div>
<br />
<div class="display-label">施工单位：@Model.constructionOrganization</div>
<div class="display-field"></div>
<br />

<div class="display-label">设计单位：@Model.disignOrganization</div>
<div class="display-field"></div>
<br />

<div class="display-label">执照号：@Model.licenseNo</div>
<div class="display-field"></div>
<br />

<div class="display-label">工程地点：@Model.location</div>
<div class="display-field"></div>
<br />


<div class="display-label">最新工程地点：@Model.newLocation</div>
<div class="display-field"></div>
<br /> 