<link rel="stylesheet" href="/Scripts/gis/select2/select2.min.css" />
<style type="text/css">
    #cordlist {
        width: 100%;
        height: 150px;
        overflow: auto;
    }

    td {
        height: 20px;
        width: 25%;
    }
</style>

<div class="box-body" style="height:100%; width:100%">

    <div class="form-group" style="height:150px">

        <table class="table table-bordered dl-horizontal">

            <tr>
                <td style="background-color:#f9f9f9;width:10%;">
                    起始编号:
                </td>
                <td>
                    <input type="number" id="startnum" name="startnum" class="form-control" />
                </td>
                <td style="background-color:#f9f9f9;width:10%;">
                    终止编号:
                </td>
                <td>
                    <input type="number" id="endnum" name="endnum" class="form-control" />
                </td>
            </tr>
            <tr>
                <td colspan="4" style="text-align:center;">
                    <input type="button" id="ok" value="导入数据" name="action" class="btn btn-default" />
                </td>

            </tr>
            <tr>
                <td style="background-color:#f9f9f9;width:10%;">
                    待添加数据条数:
                </td>
                <td>
                    <input type="text" id="num" class="form-control" readonly />
                </td>
            </tr>
        </table>
    </div>

    <div class="form-group" style="height:150px">
        <div id="cordlist">
            <table id="paper" class="table table-bordered dl-horizontal">
                <thead>
                    <tr>
                        <td>项目顺序号</td>
                        <td>工程序号</td>
                        <td>工程名称</td>
                        <td>工程空间数据</td>
                    </tr>
                </thead>
                <tbody id="tbody"></tbody>
            </table>
        </div>
    </div>

    <!--<div class="form-group" style="height:60px">
        <label class="col-sm-2 control-label">建筑三维模型：</label>
        <div class="col-sm-10">
            <select id="vrmodel" name="vrmodel" style="width:200px">
                @*<option value="sns0001">市政府大楼</option>*@
            </select>
        </div>
    </div>-->
</div>

<script type="text/javascript" src="/Scripts/gis/select2/select2.full.min.js"></script>
<script type="text/javascript" src="/Scripts/gis/select2/i18n/zh-CN.js"></script>
<script type="text/javascript">
    @*var cordCount = 4;
    var data12 = function () {
        var str =@Html.Raw(@ViewBag.x);
        for (var i = 0; i < str.length; i++)
        {
            var tr = document.createElement('tr');
            var tdnum = document.createElement('td');
            var tdname = document.createElement('td');
            var tdlocation = document.createElement('td');
            tdnum.innerHTML = str[i].Num;
            tdname.innerHTML = str[i].Name;
            tdlocation .innerHTML = str[i].Location;
            tr.appendChild(tdnum);
            tr.appendChild(tdname);
            tr.appendChild(tdlocation);
            var tbody = document.getElementById('tbody');
            tbody.appendChild(tr);

        };

    };*@
    /*var addCord = function () {
        cordCount ++;
        var newcord = document.createElement("div");
        newcord.id = "cord" + cordCount;
        newcord.className = "cord";
        newcord.innerHTML = '坐标' + cordCount + ': <input id="x' + cordCount + '" class="x"  type="text" /><input id="y' + cordCount + '" class="y"  type="text" /><a href="javascript:deleteCord(' + cordCount + ')">删除</a>';
        $("#cordlist").append(newcord);
    };
    var deleteCord = function (cordindex) {
        $("#cord"+cordindex).remove();
        cordCount--;
    };*/
    /*$(document).ready(function () {
      
        $("#project").select2({
            placeholder: "选择一个工程..",
            language: "zh-CN",
            ajax: {
                url: "/Map/ProjectSelection",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        q: params.term, // search term
                        page: params.page|| 1
                    };
                },
                processResults: function (data, params) {
                    // parse the results into the format expected by Select2
                    // since we are using custom formatting functions we do not need to
                    // alter the remote JSON data, except to indicate that infinite
                    // scrolling can be used
                    params.page = params.page || 1;

                    return {
                        results: data.items,
                        pagination: {
                            more: (params.page * 30) < data.total_count
                        }
                    };
                },
                cache: true
            },
            //escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
            minimumInputLength: 1//,
            //templateResult: formatRepo, // omitted for brevity, see the source of this page
           // templateSelection: formatRepoSelection // omitted for brevity, see the source of this page
        });

        $("#vrmodel").select2({
            placeholder: "选择一个工程模型..",
            language: "zh-CN",
            ajax: {
                url: "/Map/ProjectVRModelSelection",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        q: params.term, // search term
                        page: params.page || 1
                    };
                },
                processResults: function (data, params) {
                    // parse the results into the format expected by Select2
                    // since we are using custom formatting functions we do not need to
                    // alter the remote JSON data, except to indicate that infinite
                    // scrolling can be used
                    params.page = params.page || 1;

                    return {
                        results: data.items,
                        pagination: {
                            more: (params.page * 30) < data.total_count
                        }
                    };
                },
                cache: true
            },
            //escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
            minimumInputLength: 1//,
            //templateResult: formatRepo, // omitted for brevity, see the source of this page
            // templateSelection: formatRepoSelection // omitted for brevity, see the source of this page
        });
    });*/

    $("#ok").click(function () {
        $.ajax({
            type: "POST",
            url: "/Map/VectorizationContentPL/?startnum=" + document.getElementById("startnum").value + "&endnum=" + document.getElementById("endnum").value,
            contentType: "application/x-www-form-urlencoded",
            dataType: "json",
            success: function (data) {
                document.getElementById('num').value = data.length;
                for (var i = 0; i < data.length; i++) {
                    var tr = document.createElement('tr');
                    var tpaperProjectSeqNo = document.createElement('td');
                    var tProjectID = document.createElement('td');
                    var tname = document.createElement('td');
                    var tlocation = document.createElement('td');
                    tpaperProjectSeqNo.innerHTML = data[i].paperProjectSeqNo1;
                    tProjectID.innerHTML = data[i].ProjectID;
                    tname.innerHTML = data[i].Name;
                    tlocation.innerHTML = data[i].Location;
                    tr.appendChild(tpaperProjectSeqNo);
                    tr.appendChild(tProjectID);
                    tr.appendChild(tname);
                    tr.appendChild(tlocation);
                    var tbody = document.getElementById('tbody');
                    tbody.appendChild(tr);
                };
            }
        });

    });

</script>