<link type="text/css" rel="stylesheet" href="~/Scripts/jquery/jquery-ui.css">
<link href="~/Content/Tabulator/version3.0/tabulator.css" rel="stylesheet" />
<script src="~/Scripts/jquery-2.1.1.min.js" type="text/javascript"></script>
<script type="text/javascript" src="~/Scripts/jquery/jquery-1.8.3.js"></script>
<script src="~/Scripts/jquery-ui.min.js"></script>

<script type="text/javascript" src="~/Scripts/jquery/jquery.ui.core.js"></script>
<script type="text/javascript" src="~/Scripts/jquery/jquery.ui.datepicker.js"></script>
<script type="text/javascript" src="~/Scripts/jquery/jquery.ui.widget.js"></script>
<script type="text/javascript" src="~/Scripts/jquery/jquery-ui-timepicker-addon.js"></script>
<script src="~/Content/Tabulator/version3.0/tabulator.js"></script>

<script src="~/Scripts/xlsx.full.min.js"></script>
<style type="text/css">
    .dangqianzhuangtai {
        color: blue;
        text-decoration: underline;
    }
</style>
@{
    ViewBag.Title = "Index";
}
<script>
    function del() {
        var msg = "确认要删除吗?";
        if (confirm(msg) == true) {
            return true;
        } else {
            return false;
        }
    }
</script>
@*<script src="~/Scripts/jquery-2.1.1.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Content/Tabulator/tabulator.js"></script>*@
<script type="text/javascript">
    var chakan = function (value, data, cell, row, options) { //plain text value
        return "<i class='fa fa-search-plus' style='color:#428bca;vertical-align:middle; padding:2px 0;'></i>"
    };
    var xiugai = function (value, data, cell, row, options) { //plain text value
        return "<i class='fa fa-edit' style='color:#428bca;vertical-align:middle; padding:2px 0;'></i>"
    };
    var juanneimulu = function (value, data, cell, row, options) { //plain text value
        return "<i class='fa  fa-list-ol' style='color:#428bca;;vertical-align:middle; padding:2px 0;'></i>"
    };
    var shanchu = function (value, data, cell, row, options) { //plain text value
        return "<i class='glyphicon glyphicon-trash' style='color:#428bca;vertical-align:middle; padding:2px 0;'></i>"
    };

    $().ready(function () {//在页面加载完成之后用，为了保证js能完整的执行。
        $(document).ready(function () {
            var a = $(window).height();
            var hh = a - 160;
            $(".box-h").height(hh)  // 高度加在类名为box的DIV 上

        })
        $("#example-table-2").tabulator({
            height: "100%",
            virtualDom: false,
            fitColumns: true,
            selectable: 1, //make rows selectable
            pagination: "remote",
            ajaxURL: "/OtherArchives/IndexData/" + new Date().getTime(),
            paginator: function (url, pageNo, pageSize, ajaxParams) {

                var type = document.getElementById("SelectedID").value;
                var content = document.getElementById("SearchString").value;
                var Url = "";
                if (type != "" && content != "") {
                    Url = url + "?page=" + pageNo + "&SelectedID=" + type + "&searchString=" + encodeURI(content);
                }
                else {
                    Url = url + "?page=" + pageNo;
                }

                return Url; //must return the string of the page request URL
            },
            columns: [
                {
                    title: "查看", field: "ID", width: 50, formatter: chakan, headerSort: false, align: "center", cellClick: function (e, cell) {
                        var url = '/OtherArchives/Details/?id=' + cell.getValue();
                        window.open(url);
                        //window.location.href = url;
                    }
                },
                {
                    title: "修改", field: "ID", width: 50, formatter: xiugai, headerSort: false, align: "center", cellClick: function (e, cell) {

                        var url = '/OtherArchives/Edit/?id=' + cell.getValue();
                        //window.location.href = url;
                        window.open(url);
                    }
                },
                {
                    title: "卷内目录", field: "ID", width: 80, formatter: juanneimulu, headerSort: false, align: "center", cellClick: function (e, cell) {

                        var url = '/LicenceFiles/?archiveID=' + cell.getValue() + '&id1=0' + '&id=0';
                        window.location.href = url;
                    }
                },
                {
                    title: "删除", field: "ID", width: 50, formatter: shanchu, headerSort: false, align: "center", cellClick: function (e, cell) {
                        if (del()) {
                            var url = '/OtherArchives/Delete/?id=' + cell.getValue();
                            window.location.href = url;
                        }

                    }
                },
                { title: "执照号", field: "licenceNo", headerSort: false, width: 200 },
                { title: "申请单位", field: "applyUnit", headerSort: false, width: 450 },
                { title: "工程内容", field: "projectRange", headerSort: false, width: 200 },
                { title: "工程地点", field: "location", headerSort: false, width: 450 },

                { title: "整理人", field: "luruPerson", headerSort: false, width: 200 },

                { title: "最新工程地点", field: "newLocation", headerSort: false, width: 200 },
                { title: "年度序号", field: "registrationNo", headerSort: false, width: 100 },
                { title: "总登记号", field: "classNo", headerSort: false, width: 120 },
                { title: "区工程顺序号", field: "areaProSeqNo", headerSort: false, width: 200 },
                //{ title: "文件编号", field: "landNo", headerSort: false, width: 100 },
                { title: "案卷题名", field: "archiveTitle", headerSort: false, width: 300 },
                //{ title: "年份", field: "e", width: 100 },
                { title: "状态", field: "status", headerSort: false, minWidth: 100 },
            ],


        });
        $("#download-xlsx").click(function () {
            $("#example-table-2").tabulator("download", "xlsx", "data.xlsx");
        });





    });
    $(document).ready(function () {
        $("#Find").click(function () {
            var type = document.getElementById("SelectedID").value;
            var content = document.getElementById("SearchString").value;
            var Url = "";

            Url = "/OtherArchives/Index/" + "?SelectedID=" + type + "&searchString=" + encodeURI(content);
            window.location.href = Url;

        });
    });
</script>

<section>
    <h2 style="float:left;"><i class="fa fa-tags kongge"></i>案卷列表</h2>
    <ol class="breadcrumb">
        <li class="active">执照档案</li>
        <li>案卷列表</li>

    </ol>
    <div style="clear:both;"></div>
</section>
@*<h2><i class="fa fa-tags kongge"></i>执照档案管理</h2>*@
<div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-inline">
                <p>
                    检索条件 : @Html.DropDownList("SelectedID", null, new { @class = "form-control" })&nbsp;&nbsp;检索内容：@Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control" })
                    <input type="submit" class="btn btn-default" value="查找" />
                    <label id="count" name="count" style="color:blue;display:inline;">共检索到: @ViewBag.count 条</label>

                </p>
            </div>

        }

    </div>
    <div style="text-align:right;">
    <button id="download-xlsx" class="btn btn-default">导出数据</button>
    </div>
    <div id="example-table-2" class="box-h"> </div>

    @*<p>
            检索条件：@Html.DropDownList("SelectedID1", null, new { @class = "form-control", @style = "display:inline;width:200px" })
            <script>
            document.getElementById("SelectedID1").onchange = function () {

                    $("#example-table-2").tabulator("setData");

                }
            </script>
            @Html.DropDownList("SelectedID", null, new { @class = "form-control", @style = "display:inline" })  检索内容：@Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", @style = "display:inline" })
            <input type="button" id="Find" name="Find" class="btn btn-default" value="查找" />
            <button id="download-xlsx" class="btn btn-default">导出数据</button>
        </p>



        <div id="example-table-2" class="box-h"> </div>*@



