@*@model urban_archive.Models.OtherArchives*@

@section css{
    <link type="text/css" rel="stylesheet" herf="~/Scripts/zTree/css/zTreeStyle/zTreeStyle.css">
    @*<link rel="stylesheet" href="~/Scripts/zTree/css/demo.css" type="text/css">*@
}
@section scripts
{
    <script type="text/javascript" src="~/Scripts/zTree/js/jquery-1.4.4.min.js"></script>
    <script type="text/javascript" src="~/Scripts/zTree/js/jquery.ztree.core-3.5.js"></script>
    @*<script type="text/javascript" src="~/Scripts/zTree/js/jquery.ztree.excheck.js"></script>
    <script type="text/javascript" src="~/Scripts/zTree/js/jquery.ztree.exedit.js"></script>*@

    <script type="text/javascript">
        var t;
        var setting = {
            view: {
                selectedMulti: false,
                showLine: false,
                dblClickExpand: false,
            },
            data: {
                simpleData: {
                    enable: true,
                    //idKey: "id",
                    //pIdKey: "pId",
                    //rootPId: ""
                }
            },
            callback: {
                onClick: onClick
            }
        };
    var treeNodes = [
            { id: 1, pId: 0, name: "市规划", open: false},
            { id: 11, pId: 1, name: "青规建" },
            { id: 12, pId: 1, name: "青规建管" },
            { id: 13, pId: 1, name: "青规建审" },
            { id: 14, pId: 1, name: "青规验" },
            { id: 15, pId: 1, name: "青规规条" },
            { id: 16, pId: 1, name: "青规函业" },
            { id: 17, pId: 1, name: "青规选址" },
            { id: 18, pId: 1, name: "青规变审" },
            { id: 19, pId: 1, name: "青规规审" },
            { id: 110, pId: 1, name: "青规外环" },
            { id: 111, pId: 1, name: "青规单验" },
            { id: 112, pId: 1, name: "青规验整" },
            { id: 113, pId: 1, name: "青规用地" },
            { id: 114, pId: 1, name: "青规临市政" },
            { id: 115, pId: 1, name: "青规变备" },
            { id: 116, pId: 1, name: "青规控制线" },
            { id: 117, pId: 1, name: "青规定点" },
            { id: 118, pId: 1, name: "青规审批" },
            { id: 119, pId: 1, name: "青规审查" },
            { id: 120, pId: 1, name: "青规道路红线" },
            { id: 121, pId: 1, name: "青规建验" },
            { id: 122, pId: 1, name: "青规广雕" },
            { id: 123, pId: 1, name: "青规归验" },
            { id: 124, pId: 1, name: "青规建拆" },
            { id: 125, pId: 1, name: "青规市政管线" },
            { id: 126, pId: 1, name: "青规延期" },
            { id: 127, pId: 1, name: "青规变更" },
            { id: 128, pId: 1, name: "青规验线" },
            { id: 129, pId: 1, name: "青规图批" },
            { id: 130, pId: 1, name: "青规图审" },
            { id: 131, pId: 1, name: "青规市政图审" },
            { id: 132, pId: 1, name: "青规外装" },
            { id: 133, pId: 1, name: "青规市政" },
            
            
           

            { id: 2, pId: 0, name: "市北规划", open: false },
            { id: 21, pId: 2, name: "青规北建" },
            { id: 22, pId: 2, name: "青规北建管" },
            { id: 23, pId: 2, name: "青规北建审" },
            { id: 24, pId: 2, name: "青规北验" },
            { id: 25, pId: 2, name: "青规北规条" },
            { id: 26, pId: 2, name: "青规北函业" },
            { id: 27, pId: 2, name: "青规北选址" },
            { id: 28, pId: 2, name: "青规北变审" },
            { id: 29, pId: 2, name: "青规北规审" },
            { id: 210, pId: 2, name: "青规北外环" },
            { id: 211, pId: 2, name: "青规北单验" },
            { id: 212, pId: 2, name: "青规北验整" },
            { id: 213, pId: 2, name: "青规北用地" },
            { id: 214, pId: 2, name: "青规北临市政" },
            { id: 215, pId: 2, name: "青规北变备" },
            { id: 216, pId: 2, name: "青规北控制线" },
             { id: 217, pId: 2, name: "青规北定点" },
            { id: 218, pId: 2, name: "青规北审批" },
            { id: 219, pId: 2, name: "青规北审查" },
            { id: 220, pId: 2, name: "青规北道路红线" },
            { id: 221, pId: 2, name: "青规北建验" },
            { id: 222, pId: 2, name: "青规北广雕" },
            { id: 223, pId: 2, name: "青规北归验" },
            { id: 224, pId: 2, name: "青规北建拆" },
            { id: 225, pId: 2, name: "青规北市政管线" },
            { id: 226, pId: 2, name: "青规北延期" },
            { id: 227, pId: 2, name: "青规北变更" },
            { id: 228, pId: 2, name: "青规北验线" },
            { id: 229, pId: 2, name: "青规北图批" },
            { id: 230, pId: 2, name: "青规北图审" },
            { id: 231, pId: 2, name: "青规北市政图审" },
            { id: 232, pId: 2, name: "青规北外装" },
            { id: 233, pId: 2, name: "青规北市政" },



            { id: 3, pId: 0, name: "原四方规划", open: false },
            { id: 31, pId: 3, name: "青规四建" },
            { id: 32, pId: 3, name: "青规四建管" },
            { id: 33, pId: 3, name: "青规四建审" },
            { id: 34, pId: 3, name: "青规四验" },
            { id: 35, pId: 3, name: "青规四规条" },
            { id: 36, pId: 3, name: "青规四函业" },
            { id: 37, pId: 3, name: "青规四选址" },
            { id: 38, pId: 3, name: "青规四变审" },
            { id: 39, pId: 3, name: "青规四规审" },
            { id: 310, pId: 3, name: "青规四外环" },
            { id: 311, pId: 3, name: "青规四单验" },
            { id: 312, pId: 3, name: "青规四验整" },
            { id: 313, pId: 3, name: "青规四用地" },
            { id: 314, pId: 3, name: "青规四临市政" },
            { id: 315, pId: 3, name: "青规四变备" },
            { id: 316, pId: 3, name: "青规四控制线" },
             { id: 317, pId: 3, name: "青规四定点" },
            { id: 318, pId: 3, name: "青规四审批" },
            { id: 319, pId: 3, name: "青规四审查" },
            { id: 320, pId: 3, name: "青规四道路红线" },
            { id: 321, pId: 3, name: "青规四建验" },
            { id: 322, pId: 3, name: "青规四广雕" },
            { id: 323, pId: 3, name: "青规四归验" },
            { id: 324, pId: 3, name: "青规四建拆" },
            { id: 325, pId: 3, name: "青规四市政管线" },
            { id: 326, pId: 3, name: "青规四延期" },
            { id: 327, pId: 3, name: "青规四变更" },
            { id: 328, pId: 3, name: "青规四验线" },
            { id: 329, pId: 3, name: "青规四图批" },
            { id: 330, pId: 3, name: "青规四图审" },
            { id: 331, pId: 3, name: "青规四市政图审" },
            { id: 332, pId: 3, name: "青规四外装" },
            { id: 333, pId: 3, name: "青规四市政" },


            { id: 4, pId: 0, name: "李沧规划", open: false },
            { id: 41, pId: 4, name: "青规李建" },
            { id: 42, pId: 4, name: "青规李建管" },
            { id: 43, pId: 4, name: "青规李建审" },
            { id: 44, pId: 4, name: "青规李验" },
            { id: 45, pId: 4, name: "青规李规条" },
            { id: 46, pId: 4, name: "青规李函业" },
            { id: 47, pId: 4, name: "青规李选址" },
            { id: 48, pId: 4, name: "青规李变审" },
            { id: 49, pId: 4, name: "青规李规审" },
            { id: 410, pId: 4, name: "青规李外环" },
            { id: 411, pId: 4, name: "青规李单验" },
            { id: 412, pId: 4, name: "青规李验整" },
            { id: 413, pId: 4, name: "青规李用地" },
            { id: 414, pId: 4, name: "青规李临市政" },
            { id: 415, pId: 4, name: "青规李变备" },
            { id: 416, pId: 4, name: "青规李控制线" },
             { id: 417, pId: 4, name: "青规李定点" },
            { id: 418, pId: 4, name: "青规李审批" },
            { id: 419, pId: 4, name: "青规李审查" },
            { id: 420, pId: 4, name: "青规李道路红线" },
            { id: 421, pId: 4, name: "青规李建验" },
            { id: 422, pId: 4, name: "青规李广雕" },
            { id: 423, pId: 4, name: "青规李归验" },
            { id: 424, pId: 4, name: "青规李建拆" },
            { id: 425, pId: 4, name: "青规李市政管线" },
            { id: 426, pId: 4, name: "青规李延期" },
            { id: 427, pId: 4, name: "青规李变更" },
            { id: 428, pId: 4, name: "青规李验线" },
            { id: 429, pId: 4, name: "青规李图批" },
            { id: 430, pId: 4, name: "青规李图审" },
            { id: 431, pId: 4, name: "青规李市政图审" },
            { id: 432, pId: 4, name: "青规李外装" },
            { id: 433, pId: 4, name: "青规李市政" },


            { id: 5, pId: 0, name: "市南规划", open: false },
            { id: 51, pId: 5, name: "青规南建" },
            { id: 52, pId: 5, name: "青规南建管" },
            { id: 55, pId: 5, name: "青规南建审" },
            { id: 54, pId: 5, name: "青规南验" },
            { id: 55, pId: 5, name: "青规南规条" },
            { id: 56, pId: 5, name: "青规南函业" },
            { id: 57, pId: 5, name: "青规南选址" },
            { id: 58, pId: 5, name: "青规南变审" },
            { id: 59, pId: 5, name: "青规南规审" },
            { id: 510, pId: 5, name: "青规南外环" },
            { id: 511, pId: 5, name: "青规南单验" },
            { id: 512, pId: 5, name: "青规南验整" },
            { id: 513, pId: 5, name: "青规南用地" },
            { id: 514, pId: 5, name: "青规南临市政" },
            { id: 515, pId: 5, name: "青规南变备" },
            { id: 516, pId: 5, name: "青规南控制线" },
             { id: 517, pId: 5, name: "青规南定点" },
            { id: 518, pId: 5, name: "青规南审批" },
            { id: 519, pId: 5, name: "青规南审查" },
            { id: 520, pId: 5, name: "青规南道路红线" },
            { id: 521, pId: 5, name: "青规南建验" },
            { id: 522, pId: 5, name: "青规南广雕" },
            { id: 523, pId: 5, name: "青规南归验" },
            { id: 524, pId: 5, name: "青规南建拆" },
            { id: 525, pId: 5, name: "青规南市政管线" },
            { id: 526, pId: 5, name: "青规南延期" },
            { id: 527, pId: 5, name: "青规南变更" },
            { id: 528, pId: 5, name: "青规南验线" },
            { id: 529, pId: 5, name: "青规南图批" },
            { id: 530, pId: 5, name: "青规南图审" },
            { id: 531, pId: 5, name: "青规南市政图审" },
            { id: 532, pId: 5, name: "青规南外装" },
            { id: 533, pId: 5, name: "青规南市政" },



            { id: 6, pId: 0, name: "崂山规划", open: false },
            { id: 61, pId: 6, name: "青规崂建" },
            { id: 62, pId: 6, name: "青规崂建管" },
            { id: 66, pId: 6, name: "青规崂建审" },
            { id: 64, pId: 6, name: "青规崂验" },
            { id: 65, pId: 6, name: "青规崂规条" },
            { id: 66, pId: 6, name: "青规崂函业" },
            { id: 67, pId: 6, name: "青规崂选址" },
            { id: 68, pId: 6, name: "青规崂变审" },
            { id: 69, pId: 6, name: "青规崂规审" },
            { id: 610, pId: 6, name: "青规崂外环" },
            { id: 611, pId: 6, name: "青规崂单验" },
            { id: 612, pId: 6, name: "青规崂验整" },
            { id: 613, pId: 6, name: "青规崂用地" },
            { id: 614, pId: 6, name: "青规崂临市政" },
            { id: 615, pId: 6, name: "青规崂变备" },
            { id: 616, pId: 6, name: "青规崂控制线" },
             { id: 617, pId: 6, name: "青规崂定点" },
            { id: 618, pId: 6, name: "青规崂审批" },
            { id: 619, pId: 6, name: "青规崂审查" },
            { id: 620, pId: 6, name: "青规崂道路红线" },
            { id: 621, pId: 6, name: "青规崂建验" },
            { id: 622, pId: 6, name: "青规崂广雕" },
            { id: 623, pId: 6, name: "青规崂归验" },
            { id: 624, pId: 6, name: "青规崂建拆" },
            { id: 625, pId: 6, name: "青规崂市政管线" },
            { id: 626, pId: 6, name: "青规崂延期" },
            { id: 627, pId: 6, name: "青规崂变更" },
            { id: 628, pId: 6, name: "青规崂验线" },
            { id: 629, pId: 6, name: "青规崂图批" },
            { id: 630, pId: 6, name: "青规崂图审" },
            { id: 631, pId: 6, name: "青规崂市政图审" },
            { id: 632, pId: 6, name: "青规崂外装" },
            { id: 633, pId: 6, name: "青规崂市政" },



            { id: 7, pId: 0, name: "城阳规划", open: false },
            { id: 71, pId: 7, name: "青规城建" },
            { id: 72, pId: 7, name: "青规城建管" },
            { id: 73, pId: 7, name: "青规城建审" },
            { id: 74, pId: 7, name: "青规城验" },
            { id: 75, pId: 7, name: "青规城规条" },
            { id: 76, pId: 7, name: "青规城函业" },
            { id: 77, pId: 7, name: "青规城选址" },
            { id: 78, pId: 7, name: "青规城变审" },
            { id: 79, pId: 7, name: "青规城规审" },
            { id: 710, pId: 7, name: "青规城外环" },
            { id: 711, pId: 7, name: "青规城单验" },
            { id: 712, pId: 7, name: "青规城验整" },
            { id: 713, pId: 7, name: "青规城用地" },
            { id: 714, pId: 7, name: "青规城临市政" },
            { id: 715, pId: 7, name: "青规城变备" },
            { id: 716, pId: 7, name: "青规城控制线" },
            { id: 717, pId: 7, name: "青规城定点" },
            { id: 718, pId: 7, name: "青规城审批" },
            { id: 719, pId: 7, name: "青规城审查" },
            { id: 720, pId: 7, name: "青规城道路红线" },
            { id: 721, pId: 7, name: "青规城建验" },
            { id: 722, pId: 7, name: "青规城广雕" },
            { id: 723, pId: 7, name: "青规城归验" },
            { id: 724, pId: 7, name: "青规城建拆" },
            { id: 725, pId: 7, name: "青规城市政管线" },
            { id: 726, pId: 7, name: "青规城延期" },
            { id: 727, pId: 7, name: "青规城变更" },
            { id: 728, pId: 7, name: "青规城验线" },
            { id: 729, pId: 7, name: "青规城图批" },
            { id: 730, pId: 7, name: "青规城图审" },
            { id: 731, pId: 7, name: "青规城市政图审" },
            { id: 732, pId: 7, name: "青规城外装" },
            { id: 733, pId: 7, name: "青规城市政" },




            { id: 8, pId: 0, name: "黄岛规划", open: false },
            { id: 81, pId: 8, name: "青规黄建" },
            { id: 82, pId: 8, name: "青规黄建管" },
            { id: 83, pId: 8, name: "青规黄建审" },
            { id: 84, pId: 8, name: "青规黄验" },
            { id: 85, pId: 8, name: "青规黄规条" },
            { id: 86, pId: 8, name: "青规黄函业" },
            { id: 87, pId: 8, name: "青规黄选址" },
            { id: 88, pId: 8, name: "青规黄变审" },
            { id: 89, pId: 8, name: "青规黄规审" },
            { id: 810, pId: 8, name: "青规黄外环" },
            { id: 811, pId: 8, name: "青规黄单验" },
            { id: 812, pId: 8, name: "青规黄验整" },
            { id: 813, pId: 8, name: "青规黄用地" },
            { id: 814, pId: 8, name: "青规黄临市政" },
            { id: 815, pId: 8, name: "青规黄变备" },
            { id: 816, pId: 8, name: "青规黄控制线" },
             { id: 817, pId: 8, name: "青规黄定点" },
            { id: 818, pId: 8, name: "青规黄审批" },
            { id: 819, pId: 8, name: "青规黄审查" },
            { id: 820, pId: 8, name: "青规黄道路红线" },
            { id: 821, pId: 8, name: "青规黄建验" },
            { id: 822, pId: 8, name: "青规黄广雕" },
            { id: 823, pId: 8, name: "青规黄归验" },
            { id: 824, pId: 8, name: "青规黄建拆" },
            { id: 825, pId: 8, name: "青规黄市政管线" },
            { id: 826, pId: 8, name: "青规黄延期" },
            { id: 827, pId: 8, name: "青规黄变更" },
            { id: 828, pId: 8, name: "青规黄验线" },
            { id: 829, pId: 8, name: "青规黄图批" },
            { id: 830, pId: 8, name: "青规黄图审" },
            { id: 831, pId: 8, name: "青规黄市政图审" },
            { id: 832, pId: 8, name: "青规黄外装" },
            { id: 833, pId: 8, name: "青规黄市政" },



            { id: 9, pId: 0, name: "胶州规划", open: false },
            { id: 91, pId: 9, name: "青规胶建" },
            { id: 92, pId: 9, name: "青规胶建管" },
            { id: 99, pId: 9, name: "青规胶建审" },
            { id: 94, pId: 9, name: "青规胶验" },
            { id: 95, pId: 9, name: "青规胶规条" },
            { id: 96, pId: 9, name: "青规胶函业" },
            { id: 97, pId: 9, name: "青规胶选址" },
            { id: 98, pId: 9, name: "青规胶变审" },
            { id: 99, pId: 9, name: "青规胶规审" },
            { id: 910, pId: 9, name: "青规胶外环" },
            { id: 911, pId: 9, name: "青规胶单验" },
            { id: 912, pId: 9, name: "青规胶验整" },
            { id: 913, pId: 9, name: "青规胶用地" },
            { id: 914, pId: 9, name: "青规胶临市政" },
            { id: 915, pId: 9, name: "青规胶变备" },
            { id: 916, pId: 9, name: "青规胶控制线" },
             { id: 917, pId: 9, name: "青规胶定点" },
            { id: 918, pId: 9, name: "青规胶审批" },
            { id: 919, pId: 9, name: "青规胶审查" },
            { id: 920, pId: 9, name: "青规胶道路红线" },
            { id: 921, pId: 9, name: "青规胶建验" },
            { id: 922, pId: 9, name: "青规胶广雕" },
            { id: 923, pId: 9, name: "青规胶归验" },
            { id: 924, pId: 9, name: "青规胶建拆" },
            { id: 925, pId: 9, name: "青规胶市政管线" },
            { id: 926, pId: 9, name: "青规胶延期" },
            { id: 927, pId: 9, name: "青规胶变更" },
            { id: 928, pId: 9, name: "青规胶验线" },
            { id: 929, pId: 9, name: "青规胶图批" },
            { id: 930, pId: 9, name: "青规胶图审" },
            { id: 931, pId: 9, name: "青规胶市政图审" },
            { id: 932, pId: 9, name: "青规胶外装" },
            { id: 933, pId: 9, name: "青规胶市政" },



            { id: 10, pId: 0, name: "胶南规划", open: false },
            { id: 101, pId: 10, name: "青规胶南建" },
            { id: 102, pId: 10, name: "青规胶南建管" },
            { id: 103, pId: 10, name: "青规胶南建审" },
            { id: 104, pId: 10, name: "青规胶南验" },
            { id: 105, pId: 10, name: "青规胶南规条" },
            { id: 106, pId: 10, name: "青规胶南函业" },
            { id: 107, pId: 10, name: "青规胶南选址" },
            { id: 108, pId: 10, name: "青规胶南变审" },
            { id: 109, pId: 10, name: "青规胶南规审" },
            { id: 1010, pId: 10, name: "青规胶南外环" },
            { id: 1011, pId: 10, name: "青规胶南单验" },
            { id: 1012, pId: 10, name: "青规胶南验整" },
            { id: 1013, pId: 10, name: "青规胶南用地" },
            { id: 1014, pId: 10, name: "青规胶南临市政" },
            { id: 1015, pId: 10, name: "青规胶南变备" },
            { id: 1016, pId: 10, name: "青规胶南控制线" },
             { id: 1017, pId: 10, name: "青规胶南定点" },
            { id: 1018, pId: 10, name: "青规胶南审批" },
            { id: 1019, pId: 10, name: "青规胶南审查" },
            { id: 1020, pId: 10, name: "青规胶南道路红线" },
            { id: 1021, pId: 10, name: "青规胶南建验" },
            { id: 1022, pId: 10, name: "青规胶南广雕" },
            { id: 1023, pId: 10, name: "青规胶南归验" },
            { id: 1024, pId: 10, name: "青规胶南建拆" },
            { id: 1025, pId: 10, name: "青规胶南市政管线" },
            { id: 1026, pId: 10, name: "青规胶南延期" },
            { id: 1027, pId: 10, name: "青规胶南变更" },
            { id: 1028, pId: 10, name: "青规胶南验线" },
            { id: 1029, pId: 10, name: "青规胶南图批" },
            { id: 1030, pId: 10, name: "青规胶南图审" },
            { id: 1031, pId: 10, name: "青规胶南市政图审" },
            { id: 1032, pId: 10, name: "青规胶南外装" },
            { id: 1033, pId: 10, name: "青规胶南市政" },


            { id: 11, pId: 0, name: "平度规划", open: false },
            { id: 111, pId: 11, name: "青规平建" },
            { id: 112, pId: 11, name: "青规平建管" },
            { id: 113, pId: 11, name: "青规平建审" },
            { id: 114, pId: 11, name: "青规平验" },
            { id: 115, pId: 11, name: "青规平规条" },
            { id: 116, pId: 11, name: "青规平函业" },
            { id: 117, pId: 11, name: "青规平选址" },
            { id: 118, pId: 11, name: "青规平变审" },
            { id: 119, pId: 11, name: "青规平规审" },
            { id: 1110, pId: 11, name: "青规平外环" },
            { id: 1111, pId: 11, name: "青规平单验" },
            { id: 1112, pId: 11, name: "青规平验整" },
            { id: 1113, pId: 11, name: "青规平用地" },
            { id: 1114, pId: 11, name: "青规平临市政" },
            { id: 1115, pId: 11, name: "青规平变备" },
            { id: 1116, pId: 11, name: "青规平控制线" },
             { id: 1117, pId: 11, name: "青规平定点" },
            { id: 1118, pId: 11, name: "青规平审批" },
            { id: 1119, pId: 11, name: "青规平审查" },
            { id: 1120, pId: 11, name: "青规平道路红线" },
            { id: 1121, pId: 11, name: "青规平建验" },
            { id: 1122, pId: 11, name: "青规平广雕" },
            { id: 1123, pId: 11, name: "青规平归验" },
            { id: 1124, pId: 11, name: "青规平建拆" },
            { id: 1125, pId: 11, name: "青规平市政管线" },
            { id: 1126, pId: 11, name: "青规平延期" },
            { id: 1127, pId: 11, name: "青规平变更" },
            { id: 1128, pId: 11, name: "青规平验线" },
            { id: 1129, pId: 11, name: "青规平图批" },
            { id: 1130, pId: 11, name: "青规平图审" },
            { id: 1131, pId: 11, name: "青规平市政图审" },
            { id: 1132, pId: 11, name: "青规平外装" },
            { id: 1133, pId: 11, name: "青规平市政" },



            { id: 12, pId: 0, name: "莱西规划", open: false },
            { id: 121, pId: 12, name: "青规莱建" },
            { id: 122, pId: 12, name: "青规莱建管" },
            { id: 123, pId: 12, name: "青规莱建审" },
            { id: 124, pId: 12, name: "青规莱验" },
            { id: 125, pId: 12, name: "青规莱规条" },
            { id: 126, pId: 12, name: "青规莱函业" },
            { id: 127, pId: 12, name: "青规莱选址" },
            { id: 128, pId: 12, name: "青规莱变审" },
            { id: 129, pId: 12, name: "青规莱规审" },
            { id: 1210, pId: 12, name: "青规莱外环" },
            { id: 1211, pId: 12, name: "青规莱单验" },
            { id: 1212, pId: 12, name: "青规莱验整" },
            { id: 1213, pId: 12, name: "青规莱用地" },
            { id: 1214, pId: 12, name: "青规莱临市政" },
            { id: 1215, pId: 12, name: "青规莱变备" },
            { id: 1216, pId: 12, name: "青规莱控制线" },
             { id: 1217, pId: 12, name: "青规莱定点" },
            { id: 1218, pId: 12, name: "青规莱审批" },
            { id: 1219, pId: 12, name: "青规莱审查" },
            { id: 1220, pId: 12, name: "青规莱道路红线" },
            { id: 1221, pId: 12, name: "青规莱建验" },
            { id: 1222, pId: 12, name: "青规莱广雕" },
            { id: 1223, pId: 12, name: "青规莱归验" },
            { id: 1224, pId: 12, name: "青规莱建拆" },
            { id: 1225, pId: 12, name: "青规莱市政管线" },
            { id: 1226, pId: 12, name: "青规莱延期" },
            { id: 1227, pId: 12, name: "青规莱变更" },
            { id: 1228, pId: 12, name: "青规莱验线" },
            { id: 1229, pId: 12, name: "青规莱图批" },
            { id: 1230, pId: 12, name: "青规莱图审" },
            { id: 1231, pId: 12, name: "青规莱市政图审" },
            { id: 1232, pId: 12, name: "青规莱外装" },
            { id: 1233, pId: 12, name: "青规莱市政" },



            { id: 13, pId: 0, name: "即墨规划", open: false },
            { id: 131, pId: 13, name: "青规即建" },
            { id: 132, pId: 13, name: "青规即建管" },
            { id: 133, pId: 13, name: "青规即建审" },
            { id: 134, pId: 13, name: "青规即验" },
            { id: 135, pId: 13, name: "青规即规条" },
            { id: 136, pId: 13, name: "青规即函业" },
            { id: 137, pId: 13, name: "青规即选址" },
            { id: 138, pId: 13, name: "青规即变审" },
            { id: 139, pId: 13, name: "青规即规审" },
            { id: 1310, pId: 13, name: "青规即外环" },
            { id: 1311, pId: 13, name: "青规即单验" },
            { id: 1312, pId: 13, name: "青规即验整" },
            { id: 1313, pId: 13, name: "青规即用地" },
            { id: 1314, pId: 13, name: "青规即临市政" },
            { id: 1315, pId: 13, name: "青规即变备" },
            { id: 1316, pId: 13, name: "青规即控制线" },
            { id: 1317, pId: 13, name: "青规即定点" },
            { id: 1318, pId: 13, name: "青规即审批" },
            { id: 1319, pId: 13, name: "青规即审查" },
            { id: 1320, pId: 13, name: "青规即道路红线" },
            { id: 1321, pId: 13, name: "青规即建验" },
            { id: 1322, pId: 13, name: "青规即广雕" },
            { id: 1323, pId: 13, name: "青规即归验" },
            { id: 1324, pId: 13, name: "青规即建拆" },
            { id: 1325, pId: 13, name: "青规即市政管线" },
            { id: 1326, pId: 13, name: "青规即延期" },
            { id: 1327, pId: 13, name: "青规即变更" },
            { id: 1328, pId: 13, name: "青规即验线" },
            { id: 1329, pId: 13, name: "青规即图批" },
            { id: 1330, pId: 13, name: "青规即图审" },
            { id: 1331, pId: 13, name: "青规即市政图审" },
            { id: 1332, pId: 13, name: "青规即外装" },
            { id: 1333, pId: 13, name: "青规即市政" },



            { id: 14, pId: 0, name: "开发区规划", open: false },
            { id: 141, pId: 14, name: "青规开建" },
            { id: 142, pId: 14, name: "青规开建管" },
            { id: 143, pId: 14, name: "青规开建审" },
            { id: 144, pId: 14, name: "青规开验" },
            { id: 145, pId: 14, name: "青规开规条" },
            { id: 146, pId: 14, name: "青规开函业" },
            { id: 147, pId: 14, name: "青规开选址" },
            { id: 148, pId: 14, name: "青规开变审" },
            { id: 149, pId: 14, name: "青规开规审" },
            { id: 1410, pId: 14, name: "青规开外环" },
            { id: 1411, pId: 14, name: "青规开单验" },
            { id: 1412, pId: 14, name: "青规开验整" },
            { id: 1413, pId: 14, name: "青规开用地" },
            { id: 1414, pId: 14, name: "青规开临市政" },
            { id: 1415, pId: 14, name: "青规开变备" },
            { id: 1416, pId: 14, name: "青规开控制线" },
             { id: 1417, pId: 14, name: "青规开定点" },
            { id: 1418, pId: 14, name: "青规开审批" },
            { id: 1419, pId: 14, name: "青规开审查" },
            { id: 1420, pId: 14, name: "青规开道路红线" },
            { id: 1421, pId: 14, name: "青规开建验" },
            { id: 1422, pId: 14, name: "青规开广雕" },
            { id: 1423, pId: 14, name: "青规开归验" },
            { id: 1424, pId: 14, name: "青规开建拆" },
            { id: 1425, pId: 14, name: "青规开市政管线" },
            { id: 1426, pId: 14, name: "青规开延期" },
            { id: 1427, pId: 14, name: "青规开变更" },
            { id: 1428, pId: 14, name: "青规开验线" },
            { id: 1429, pId: 14, name: "青规开图批" },
            { id: 1430, pId: 14, name: "青规开图审" },
            { id: 1431, pId: 14, name: "青规开市政图审" },
            { id: 1432, pId: 14, name: "青规开外装" },
            { id: 1433, pId: 14, name: "青规开市政" },

            //{ id: 4, pId: 0, name: "河北省", open: true, nocheck: true },
    ];
    $(document).ready(function(){
        $.fn.zTree.init($("#ztree"), setting, treeNodes);
        //第一个参数是<ul/>id选择的jquery对象,第二个参数是配置的setting,第三个参数是获取到的数据.
    });

    function onClick(e, treeId, treeNode) {
        var treeObj = $.fn.zTree.getZTreeObj("ztree");
        treeObj.expandNode(treeNode);
        sprName=treeNode.name;//节点name
        sprID = treeNode.id;//节点ID
        document.getElementById("choose").value = sprName;
    }
    </script>
}
<script>
    function right()
    {
        var number = document.getElementById("choose").value;
        window.returnValue = number;
        window.close();
        
    }
    </script>

<input type="text" id="choose" name="choose">
<input type="submit" id="queding" name="action" value="确定" onclick="right();">
<div>
    <ul id="ztree" class="ztree"></ul>
</div>
