
@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>

<div class="col-md-4">
    <h3>@Html.ActionLink("图书管理", "Index", "bookInfoes")</h3>
</div>
<div class="col-md-4">
    <h3>@Html.ActionLink("图书信息", "BookInformation", "bookInfoes")</h3>
</div>
<div class="col-md-4">
    <h3>@Html.ActionLink("城建信息", "Index", "Briefings")</h3>
</div>
<div class="col-md-4">
    <h3>@Html.ActionLink("城建信息浏览", "Details", "Briefings")</h3>
</div>

