
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>prin</title>
</head>
@using (Html.BeginForm())
{
<body>
    <div> 
        <input type="submit" name="print" id="print" value="保存" />
    </div>
</body>
}
</html>
