
@{
    Layout = null;
}

<!DOCTYPE html>

<html>

  
<body>
    <div> 
        <embed src="/声像资料/20170009/声像视频/1、工程前期/avi.avi" width="500" height="400" />
    </div>
    @*var imgs = document.getElementById("Loading").getElementsByTagName("img");
    imgs[0].src = "~/Content/5-121204193R7-51.gif";*@
    <div id="Loading">
     
        <img src="/Content/08921010004B.tif" id="image" />
    </div>
</body>
</html>
