@model IEnumerable<urban_archive.Models.BaowenMainTable>

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link href="~/Content/jquery-ui.theme.css" rel="stylesheet" />
<link href="~/Content/Tabulator/version3.0/tabulator.css" rel="stylesheet" />
<link type="text/css" rel="stylesheet" href="~/Scripts/jquery/jquery-ui.css">
@{
    ViewBag.Title = "公文管理";
}
@*<script src="~/Scripts/jquery-2.1.1.min.js" type="text/javascript"></script>
<script src="~/Scripts/jquery-ui.min.js"></script>
<script src="~/Content/Tabulator/version3.0/tabulator.js"></script>
<script type="text/javascript" src="~/Scripts/jquery/jquery-ui-timepicker-addon.js"></script>*@
<script type="text/javascript" src="~/Scripts/jquery/jquery-1.8.3.js"></script>


<script src="~/Scripts/jquery-ui.min.js"></script>

<script type="text/javascript" src="~/Scripts/jquery/jquery.ui.core.js"></script>
<script type="text/javascript" src="~/Scripts/jquery/jquery.ui.datepicker.js"></script>
<script type="text/javascript" src="~/Scripts/jquery/jquery.ui.widget.js"></script>
<script type="text/javascript" src="~/Scripts/jquery/jquery-ui-timepicker-addon.js"></script>
<script src="~/Content/Tabulator/version3.0/tabulator.js"></script>
<script>
    $(function () {
        $("#serach").datepicker({
            dateFormat:"yy.mm.dd",
            changeMonth: true,
            changeYear: true
        });
    });
</script>
<script type="text/javascript">
    var e = function (value, data, cell, row, options) { //plain text value
        return "<i class='fa fa-edit' style='color:#428bca;vertical-align:middle; padding:2px 0;'></i>"
    };
    var f = function (value, data, cell, row, options) { //plain text value
        return "<i class='fa fa-spinner' style='color:#428bca;vertical-align:middle; padding:2px 0;'></i>"
    };
    var g = function (value, data, cell, row, options) { //plain text value
        return "<i class='fa fa-check-square-o' style='color:#428bca;vertical-align:middle; padding:2px 0;'></i>"
    };
    var h = function (value, data, cell, row, options) { //plain text value
        return "<i class='fa fa-refresh' style='color:#428bca;vertical-align:middle; padding:2px 0;'></i>"
    };
    var k = function (value, data, cell, row, options) { //plain text value
        return "<i class='glyphicon glyphicon-trash' style='color:#428bca;vertical-align:middle; padding:2px 0;'></i>"
    };
    var j = function (value, data, cell, row, options) { //plain text value
        return "<i class='fa fa-file-text-o' style='color:#428bca;vertical-align:middle; padding:2px 0;'></i>"
    };

    $().ready(function () {//在页面加载完成之后用，为了保证js能完整的执行。
        $(document).ready(function () {

            var height = $(window).height();
            var hh = height-200;
            $(".box-h").height(hh)  // 高度加在类名为box的DIV 上

        })
            $("#example-table-2").tabulator({
                height:"100%",
                virtualDom:false,
                selectable: true,
                fitColumns:true,
                pagination:"local",
                paginationSize:50,
                rowFormatter:function(row){
                   
                    
                    var data = row.getData();
                  
                    if(data.ad==false||data.ad==null)
                    {                    
                        row.getElement().css({"background-color":"#FFFF99","border-bottom":"1px solid #999"});
                    }
                },
                columns: [
                    { title: "编辑", field: "e", width: 50,headerSort: false,align: "center" ,formatter: e,  cellClick: function (e,cell) {
                        var url = '/Office/Edit?id=' + cell.getValue();
                        window.location.href = url;}
                    },
                { title: "拟办", field: "f", width: 50,headerSort: false,formatter: f, align: "center", cellClick: function (e,cell) {
                    var url = '/Office/Niban?id=' + cell.getValue();
                    window.location.href = url;  }
                },
                { title: "批示", field: "g", width: 50,headerSort: false,formatter: g, align: "center", cellClick: function (e,cell) {
                    var url = '/Office/Pishi?id=' + cell.getValue();
                    window.location.href = url; }
                },
                { title: "流转", field: "h", width: 50,headerSort: false,formatter: h ,align: "center", cellClick: function (e,cell) {
                    var url = '/Office/Liuzhuan?id=' + cell.getValue();
                    window.location.href = url; }
                },
                { title: "删除", field: "k", width: 50,headerSort: false,formatter: k, align: "center", cellClick: function (e,cell) {
                    if(del()){
                        var url = '/Office/Delete?id=' + cell.getValue();
                        window.location.href = url; }
                }
                },
                { title: "处理单", field: "j", width: 60,headerSort: false,format : "PDF",formatter: j, align: "center", cellClick: function (e,cell) {
                    var url = '/Office/chulidan?id=' + cell.getValue();
                    window.location.href = url; }
                },
                { title: "序号", field: "id", headerSort: false,width: 50 },
                { title: "类别", field: "a", headerSort: false,width: 50 },
                { title: "公文顺序号", field: "b", headerSort: false,width:80 },
                { title: "来文单位", field: "c", headerSort: false,width:200 },
                { title: "文件标题", field: "d", headerSort: false,minWidth: 600 },
                { title: "备注", field: "ag", headerSort: false,minWidth: 300 },
                { title: "收文日期", field: "ac", headerSort: false,minWidth: 200 },
                ],
 
            });
            var temp = new Array();
            var data=@(new HtmlString(@ViewBag.result));
            for (var i = 0; i < data.length;i++) {
                var b = data[i].shouwenriqi
                if(b!=null){
                   

                    var result =b.substring(0,10);
                }
                temp.push({ "id": i + 1, "a": data[i].leibie, "b": data[i].shunxuhao, "c": data[i].laiwendanwei, "d": data[i].wenjianbiaoti,"e": data[i].ID,"f": data[i].ID,"g": data[i].ID,"h": data[i].ID,"k": data[i].ID,"j": data[i].ID,"ad": data[i].banjie,"ac": result,"ag": data[i].beizhu});
            }

            $("#example-table-2").tabulator("setData", temp);
            $(window).resize(function () {


                var height = $(window).height();
                var hh = height-200;
                $(".box-h").height(hh)  // 高度加在类名为box的DIV 上
                $("#example-table-2").tabulator("redraw",true);





            });

    });
    function del() {
        var msg = "确认要删除吗?";
        if (confirm(msg) == true) {
            return true;
        } else {
            return false;
        }
    }
   
   
</script>

<section>
    <h2 style="float:left;"><i class="fa fa-tags kongge"></i>公文管理</h2>
    <ol class="breadcrumb">
        <li class="active">业务办公 </li>
        <li>公文管理</li>
    </ol>
    <div style="clear:both;"></div>
</section>

@using (Html.BeginForm())
{
    <p>

        检索条件：@Html.DropDownList("File", null, new { @class = "form-control", @style = "display:inline;width:180px;" })  @Html.DropDownList("Selected", null, new { @class = "form-control", @style = "display:inline;width:180px;" })&nbsp;&nbsp;
        检索内容：<input type="text" name="search" id="serach"class = "form-control"value="@ViewBag.search"style = "display:inline" ><input type="submit" name="action" value="查询"class="btn btn-default">
    </p>
}
<div id="example-table-2" class="box-h"> </div>
<p style="margin-top:15px;text-align:center">
    @Html.ActionLink("添加公文", "Create", new { }, new { @class = "btn btn-default" })
</p>

