
@{
    ViewBag.Title = "打印相关信息";
}
<section>
    <h2 style="float:left;"><i class="fa fa-tags kongge"></i>打印相关信息</h2>
    <ol class="breadcrumb">
        <li class="active">管线档案</li>
        <li class="active">档案录入</li>
        <li>案卷录入统计表</li>
    </ol>
    <div style="clear:both;"></div>
</section>
<hr style="margin-top:0px;"/>
<link type="text/css" rel="stylesheet" href="~/Scripts/jquery/jquery-ui.css">
<script type="text/javascript" src="~/Scripts/jquery/jquery-1.8.3.js"></script>
<script type="text/javascript" src="~/Scripts/jquery/jquery.ui.core.js"></script>
<script type="text/javascript" src="~/Scripts/jquery/jquery.ui.datepicker.js"></script>
<script type="text/javascript" src="~/Scripts/jquery/jquery.ui.widget.js"></script>
<script type="text/javascript" src="~/Scripts/jquery/jquery-ui-timepicker-addon.js"></script>
    <script>
        function Button1_Click()
        {
            if (document.getElementById("DateStart").value=="")
            {
                alert("起始日期不能为空");
            }
            if (document.getElementById("DateEnd").value=="")
            {
                alert("终止日期不能为空");
            }
        }
        function Button2_Click()
        {
            if (document.getElementById("sseqNo").value=="")
            {
                alert("起始项目顺序号不能为空");
            }
            if (document.getElementById("eseqNo").value=="")
            {
                alert("终止项目顺序号不能为空");
            }
        }
            $(function () {
                $("#DateStart").datepicker({
                    changeMonth: true,
                    changeYear: true
                });
            });
            $(function () {
                $("#DateEnd").datepicker({
                    changeMonth: true,
                    changeYear: true
                });
            });
</script>
@using (Html.BeginForm())
{
<body>
    <form>
        <div style="font-size:20px;">
            <i class="fa fa-caret-right kongge"></i>请输入录入日期范围
        </div><br>
        <div class="panel panel-default">
    <table class="table table-bordered dl-horizontal" style="background-color:#f9f9f9;">
        <tr>
            <td style="background-color:#f9f9f9;width:15%;">
                录入起始日期:
            </td>
            <td>
                <input name="DateStart" type="text" id="DateStart" class = "form-control"/>
            </td>
            <td style="background-color:#f9f9f9;width:15%;">
                录入终止日期:
            </td>
            <td>
                <input name="DateEnd" type="text" id="DateEnd"class = "form-control"/>
            </td>
        <tr>
            <td colspan="4" style="text-align:center;">
                <input name="action" type="submit" class="btn btn-default" id="ok" value="打印管线档案移交书统计表（日期）" onclick="javascript:Button1_Click();" />
            </td>
        </tr>
    </table>
    </div>
        <div style="font-size:20px;">
            <i class="fa fa-caret-right kongge"></i>请输入项目顺序号范围
        </div><br>
        <div class="panel panel-default">
            <table class="table table-bordered dl-horizontal"  style="background-color:#f9f9f9;">
                <tr>
                    <td style="background-color:#f9f9f9;width:15%;">
                        起始项目顺序号:
                    </td>
                    <td>
                        <input name="sseqNo" type="text" id="sseqNo"class = "form-control" />
                    </td>
                    <td style="background-color:#f9f9f9;width:15%;">
                        终止项目顺序号:
                    </td>
                    <td>
                        <input name="eseqNo" type="text" id="eseqNo" class = "form-control"/>
                    </td>
                <tr>
                    <td colspan="4" style="text-align:center;">
                        <input name="action" type="submit" class="btn btn-default" id="Button1" value="打印管线档案移交书统计表" onclick="javascript:Button2_Click();" />
                    </td>                    
                </tr>
            </table>
        </div>
        <div style="font-size:20px;">
            <i class="fa fa-caret-right kongge"></i>请输入项目顺序号的范围
        </div><br>
        <div class="panel panel-default">
            <table class="table table-bordered dl-horizontal"  style="background-color:#f9f9f9;">
                <tr>
                    <td style="background-color:#f9f9f9;width:15%;">
                        起始项目顺序号(*):
                    </td>
                    <td>
                        <input name="seqNoStart" type="text" id="seqNoStart" class = "form-control"/>
                    </td>
                    <td style="background-color:#f9f9f9;width:15%;">
                        起始卷号:
                    </td>
                    <td>
                        <input name="volNoStart" type="text" id="volNoStart"class = "form-control" />
                    </td>
                </tr>
                <tr>
                    <td style="background-color:#f9f9f9;width:15%;">
                        终止项目顺序号(*):
                    </td>
                    <td>
                        <input name="seqNoEnd" type="text" id="seqNoEnd"class = "form-control" />
                    </td>
                    <td style="background-color:#f9f9f9;width:15%;">
                        终止卷号:
                    </td>
                    <td>
                        <input name="volNoEnd" type="text" id="volNoEnd" class = "form-control"/>
                    </td>
                </tr>
                <tr>
                    <td colspan="4" style="text-align:center;">
                        <input type="submit" name="action" value="打印管线档案案卷目录" id="Button4" class="btn btn-default"/>
                    </td>
                </tr>
            </table>
        </div>
        <div style="font-size:20px;">
            <i class="fa fa-caret-right kongge"></i>请输入项目顺序号的范围
        </div><br>
        <div class="panel panel-default">
            <table class="table table-bordered dl-horizontal"  style="background-color:#f9f9f9;">
                <tr>
                    <td style="background-color:#f9f9f9;width:15%;">
                        起始项目顺序号(*):
                    </td>
                    <td>
                        <input name="startseqNo" type="text" id="startseqNo" class = "form-control"/>
                    </td>
                    <td style="background-color:#f9f9f9;width:15%;">
                        终止项目顺序号(*):
                    </td>
                    <td>
                        <input name="endseqNo" type="text" id="endseqNo"class = "form-control"/>
                    </td>
                </tr>                
                <tr>
                    <td colspan="4" style="text-align:center;">
                        <input type="submit" name="action" value="打印城建建设管线档案工程目录" id="Button6" class="btn btn-default"/>
                    </td>
                </tr>
            </table>
        </div>       
        
    </form>
</body>
}
